[2015-05-06 19:51] jonboulle commented on #380
Multi hash complicates things terribly for image id. Note this isn't
considered an absolute security mechanism, we still strongly recommend
image signing and verification.

Can you give an example of how a multi hash mechanism would actually look?
Just an optional set?
Am 06.05.2015 09:24 schrieb "Walter Stanish" <notifications@github.com>:

[2015-05-06 20:14] jonboulle commented on #395
Well, yes, they are arbitrary name value pairs... I don't see how it's a
semantic fail.

Evidently we just need a more verbose explanation of intended use. "Labels
are arbitrary key-value pairs that are assigned at creation time and can be
used during image discovery. For example, ...."

os and arch and version were originally top level but we wanted to be less
opinionated since there are plenty o

[2015-05-06 20:16] jonboulle commented on #381
This flexibility is intentional to facilitate deployment templates. I am
not yet sure this is sufficiently concerning to prohibit such behaviour,
environments can remain entirely deterministic through use of image IDs. We
really need to explicate some examples of the template pattern and
suggested practices, /cc @vbatts

This is duped with another issue, will find when IFOK...
Am 06.05.2015 09:25

[2015-05-06 20:24] jonboulle commented on #379
The reference to Linux namespaces is illustrative, not prescriptive, I
*just* changed the wording on that to try make that clearer. I think if we
try to describe things like the pod execution environment without
referencing (as examples, not prescriptions) actual technologies it's going
to be impossibly vague.

On Wed, May 6, 2015 at 9:23 AM, Walter Stanish <notifications@github.com>
wrote:

phras

[2015-05-06 20:37] eyakubovich commented on #382
Regarding ACE identifying pods without a token. Yes, it is possible and has been like so till very recently (rkt still does that by IP). However, it places a burden on ACE to prevent containers spoofing their IP, removes possibility of container sharing network namespace with host, etc. See https://github.com/appc/spec/pull/327

[2015-05-06 22:11] namn opened #396 "Compression violates semantic security"
As documented in Ben Laurie's blog (http://www.links.org/?p=1277), compression before encryption violates semantic security.

Though both actions are not mandated in the spec, it does mandate compress-then-encrypt ordering.

I am not saying that there is a manifested attack against ACIs due to this. But I do think that in light of recent events, if we could avoid such trap, perhaps we should.

[2015-05-06 22:26] globalcitizen commented on #395
The semantic fail is that `labels` is intrinsically meaningless. Label for what? What is a label? Creation time? Creation of what? Metadata? ACI? Pod? What is creation? Do you mean instantiation (Running the thing)?

It's about as vague as the other semantically winning structure, `annotations`, but slightly vaguer than the runner-up, `dependencies`.

About the `version` part .. yes, very unclear.

[2015-05-06 22:28] globalcitizen commented on #380
Easy solution for formatting: get one line per supported digest algorithm in the current format, hash those lines under some known-OKish algo, then just provide that hash. You now have a much stronger hash, and no more bytes to store.

[2015-05-06 22:29] globalcitizen commented on #393
That's blatant programmer logic, not human logic. :smile:

[2015-05-06 22:34] globalcitizen commented on #385
My point was `acKind` is meaningless unless I have read your documentation, whereas if it were `'isMultiContainerPodDefinition':true` then it would be clearer.

I expected the response of extensibility when asking this question, but I would ask another question in return: if you are planning to add new types then I would query what those are? (Each type will likely have differing data structure re

[2015-05-06 22:36] globalcitizen commented on #383
Valid outside the container, entropy-inducing within the container and encouraging of poor separation of concerns (ie. to put this bluntly, infrastructure-related logic should not be within the application container itself, or you lose portability).

[2015-05-06 22:40] globalcitizen commented on #382
IP spoofing is trivial to prevent using netfilter. You can also prevent frame spoofing.

To be clear, with goals of extensibility/portability/workload isolation you should probably not be using bridges, rather `veth` interfaces (tun/tap) and layer 3 routing. It's also faster since you don't have the spanning tree hassles.

[2015-05-06 22:44] globalcitizen commented on #379
What I mean is you should be up-front about the scope and limits of your spec effort.

If it's Linux only, say it up front.

If it demands IP connectivity from all guests, say it up front. It's perfectly valid and in fact frequently desirable (eg. for security purposes) to run a container with no networking normally, so that choice is potentially significant to your audience.

These are simply fac

[2015-05-06 22:52] eyakubovich commented on #393
Sure that can work but at the same time JSON is already a structured format. This embeds a little DSL inside a string. It may make this more readable but less consistent -- some structure is now "outside" of JSON.

[2015-05-06 22:58] globalcitizen commented on #393
If you are serious about formalism you should have a JSON Schema document.

If you do have a JSON Schema document, it's possible to use regex to validate the values within the individual text entries.

However, ensuring there is no overlap between multiple ranges would be outside of the scope, and 65535 port numbers in an array would probably cause issues with JSON parser implementations.

[2015-05-06 23:00] thockin commented on #395
The meaninglessness is what makes them powerful.  I don't - CAN'T - know
what users want to do here.  We have... let's just call it A LOT of
experience with what people do with these things in real life and a big
lesson we took away from Borg was that any structure you define will be
insufficient for a large body of users.

Labels are a place to leave information so that you can retrieve it again

[2015-05-06 23:04] globalcitizen commented on #395
I recognize the purpose of having a catch-all place to store random name-value pairs.

However, right now it's not clear if this data is used anywhere, how it is made available, and what the difference is with `annotations` (equally vague).

[2015-05-06 23:08] vbatts commented on #395
It does describe the manifest is available to the container via the
metadata service.
On May 6, 2015 18:04, "Walter Stanish" <notifications@github.com> wrote:

[2015-05-07 00:11] eyakubovich commented on #382
I wish we could always just keep everything at layer 3. But having worked on flannel (https://github.com/coreos/flannel), which is at L3, we have received our share of requests for L2:
- Multicast w/o setting up routing (PIM, etc) within just a single subnet
- Overlapping IPs to support multiple tenants
- Using macvlan devices
- Using internal OVS ports

Also, veths are slow (not sure why but that

[2015-05-07 06:41] globalcitizen commented on #395
Oh I see ... so this is data that is set in the manifest for all instances of the ACI that are started up (potentially mutiple at the same time?) and the resulting container can choose to use it for configuration or something?

Seems pretty obtuse given that you could just put it in a file.

[2015-05-07 07:59] globalcitizen commented on #382
I think you can make everything stay at layer 3, with a bit of effort.
 * Multicast seems extremely obscure to me as a use case, but IIRC IPv6 should resolve this anyway, so a valid answer might be demand people upgrade to IPv6.
 * Overlapping IPs? I guess what you mean here is efficient allocation with respect to start-of-subnet and end-of-subnet addresses (/31). Basically you want to use every a

[2015-05-07 13:11] vbatts commented on #395
Obtuse perhaps. The spec is not prescribing it's usage, and usage patterns
are yet to surface.
On May 7, 2015 02:41, "Walter Stanish" <notifications@github.com> wrote:

[2015-05-07 17:12] globalcitizen commented on #395
Well if it's this unclear *and* it's duplicate functionality there's more than one school of software development (eg. Unix) that says you should "do one thing and do it well" and remove this stuff entirely. Personally I have architectural concerns about the metadata service, many problems with which I described over at #382 .. this issue seems to be some kind of outgrowth of that dubious addition

[2015-05-07 21:07] jonboulle commented on #330
@vbatts since we now have a bunch of these [types defined in the spec](https://github.com/appc/spec/blob/master/SPEC.md#types) feel free to tackle this before #291 happens

[2015-05-07 21:09] jonboulle commented on #357
fixed by #368

[2015-05-07 21:09] #357 closed

[2015-05-07 21:13] yifan-gu commented on #342
Using AC Name for things that have global namespaces makes sense (label keys, image names). Using something more restrictive for things with smaller scope is better, I think. Apps in a pod, mounts, volumes, ports, etc. They are all relative to their pod anyway.

I think this is a good point. Using DNS_LABEL in app.Name sounds like a good answer to https://github.com/appc/spec/pull/247 IMO

[2015-05-07 21:23] jonboulle commented on #351
I'm definitely starting to lean towards this idea (ideally using `appc.io` for brevity). I think one of my few remaining reservations is that any user-friendly serialisation formats (like we suggest for [discovery](https://github.com/appc/spec/blob/master/discovery/parse.go#L30)) get preposterously awkward/unwieldy (`example.com/foo/bar,appc.io/version=latest,appc.io/arch=i386,appc.io/os=windows`)

[2015-05-07 22:52] thockin commented on #351
You can claim reserved words now, but once people start using it you're
done :)

What iff you claim that some top-level prefix is reserved, e.g.
aci-version, aci-arch, aci-* and then claim the appc.io prefix for
less-critical labels.

Or you could just make these critical labels into fields :)

On Thu, May 7, 2015 at 2:23 PM, Jonathan Boulle <notifications@github.com>
wrote:

[2015-05-07 22:55] #318 closed

[2015-05-08 00:06] jonboulle commented on #384
We don't actually say anywhere in the spec that an AC Name Type *must* be a valid DNS name, it's just recommended that they are for discovery (which is not mandatory). Let's address the length in #341.

[2015-05-08 00:06] #384 closed

[2015-05-08 01:40] jonboulle commented on #369
Let's ensure we capture this comment from #392:

[2015-05-08 01:40] jonboulle commented on #392
#369

[2015-05-08 01:40] #392 closed

[2015-05-08 04:42] jonboulle commented on #395
The [Kubernetes definition here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/labels.md#labels) actually fits us almost perfectly, with minor modifications (in italics):

I propose we a) add wording to the effect of the above to the spec; and b) adopt wording along the lines of Kubernetes' [label selectors](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/la

[2015-05-08 04:54] jonboulle commented on #394
I think this is now sufficiently explicit, mentioned:
- in the [Image Manifest](https://github.com/appc/spec/blame/master/SPEC.md#L115) section
- in the [Filesystem Setup](https://github.com/appc/spec/blob/master/SPEC.md#filesystem-setup) section
- in the [Image Manifest schema](https://github.com/appc/spec/blame/master/SPEC.md#L767)

Let's use #295 to track the question of determinism optionality

[2015-05-08 04:54] #394 closed

[2015-05-08 04:59] jonboulle commented on #349
@thockin I am wondering how much exactly this needs to be teased apart; we already have some distinction between "resource isolators" and "other isolators" (currently, just Linux isolators). What if we just codify that more formally as "resource isolators" and "security isolators"?

[2015-05-08 05:12] jonboulle commented on #381
Closing as dupe of #295 , let's chase up there

[2015-05-08 05:12] #381 closed

[2015-05-08 05:14] jonboulle commented on #376
@ibukanov Hmm, the whole point of the three-tiered volume system at the moment is to avoid hard-coding layouts; the idea is that an executor reifies the volume<->mount mapping locally. Do you think we can close this out in favour of the discussion in #364?

[2015-05-08 05:19] jonboulle commented on #390
I am not really sure what you're referring to with "normalization of cgroup subsystem limits"; we shouldn't even be mentioning cgroups in the spec (I see the word is used in a couple of places, which should be cleaned up, but it's specifically and intentionally not discussed in the resource isolators section)

As for the rest of what you describe, it sounds very much the same concern as #361 so le

[2015-05-08 05:19] #390 closed

[2015-05-08 05:19] jonboulle commented on #390
Also relevant: #359

[2015-05-08 07:33] globalcitizen commented on #395
Aha! The origin and original purpose of `labels` becomes clear. Certainly, documentation would be a good partial fix.

However - at an architectural level, I'm still not sold on `labels` as described, particularly because the model inexplicitly supported by a post-creation-time-immutable labels notion is Google's traditional view of containers ("build 'em in house, deploy 'em in house") and that -

[2015-05-08 07:39] globalcitizen commented on #394
OK, split determinism to #295....

I still don't feel the purpose explicit because the name and the purpose remain relatively divergent within the context of an untrained set of eyes looking at a JSON `metadata` definition.

The documentation should not need to be read to understand the JSON.

*Documentation is an admission of failure.* - Eric S. Raymond, The Art of Unix Usability (2004)

This per

[2015-05-08 07:49] globalcitizen commented on #295
As the author of #394 and #381 I strongly support @robertvazan 's perspective here, both in terms of a minimalist mindset and in terms of placing determinism as a first class citizen in reconsidering the current spec.

However, I would even go a step further and suggest removing name-based image downloads as a needless source of bugs through avoidable non-determinism. Yes, that means, it should no

[2015-05-08 08:00] globalcitizen commented on #361
It's not the wording, it's the whole damn concept.

The point of #390 (rather aggressively closed, though perhaps poorly worded) was that `request` and `limit` do not apply to all subsystems and that there are in fact two competing concerns: start-time ("need X or don't start") and run-time ("handle out-of-resource issues").

For start-time issues, images could usefully spec their minimum resource

[2015-05-08 08:02] globalcitizen commented on #361
See also #359 on CPU resource limits.

[2015-05-08 08:16] globalcitizen commented on #396
Wow. What a read. I guess this problem is broadly unknown in the development community.

While there is a theoretical flaw here, there's also 30+ years of Unix habits distributing compressed tarballs. That encryption occurs as an outermost layer seems... obvious and unavoidable.

If you can think of an avoidance strategy, I'd love to hear it: what would the suggested fix be?

[2015-05-08 08:31] ibukanov commented on #376
I do not see how this is relative to #364 which talks about mount points inside containers while this is about placing containers on the host.

The current specs talks about host volumes with absolute paths on the host. As I understand the intention is that those volumes are independent of any pod/container and should be kept even after the pod is removed. Moreover, they can be used by several pod

[2015-05-08 09:23] mpasternacki commented on #396
Doesn't encrypting before compression make compression useless? Good encryption should obscure the repeating parts that compression works with, making the encrypted file statistically closer to noise, so the compression ratio would be much worse after compression. I would expect that encrypting uncompressed data would bring the compression ratio close enough to 1 that we can just skip the compress

[2015-05-08 12:16] vbatts commented on #295
I will not argue that there isn't a need for examples and patterns, but there is an absolute use case.
When getting into ISV deployment, there will arise the case of non - re distribution of their software, and that the ISV's software was built for an explicit version of base image, that they too are unable to redistribute.

These stacked dependencies have the ability to be signed and trusted (eve

[2015-05-08 15:42] thockin commented on #361
With all due respect, a LOT of experience has gone into the two-level limit
system, and it is deployed (albeit in a slightly different form) in
billions of containers here.  It works and is very powerful, but it does
need to be described and implemented carefully.

On Fri, May 8, 2015 at 1:02 AM, Walter Stanish <notifications@github.com>
wrote:

[2015-05-08 16:06] xiang90 commented on #390
@globalcitizen

From my understanding, `request` is a runtime guarantee (yea it is also a start time checking as you mentioned).  `limit` is a runtime limitation.

So I cannot agree they are totally separate concerns as you described.

[2015-05-08 16:15] namn commented on #396
I agree that there is no benefits to compression after encryption due to increased entropy. So the "fix" is most likely a "Security considerations" section similar to section 6 in RFC 3749 (https://tools.ietf.org/html/rfc3749#section-6).

[2015-05-08 17:59] philips commented on #388
I understand the concern about the remove set and I am not a huge fan but I don't think we can convert the remove set to retain as the kernel will add capabilities overtime.

[2015-05-08 21:59] philips commented on #396
I am not an expert in these matters but the fact that you can simply not compress your image if you wish solves the problem in the spec for those who want to avoid compression. But, honestly, the type of data that appc will generally contain benefits greatly from compression.

@namn If you want to add a note and link to the rfc3749 discussion in the SPEC around this consideration please do.

[2015-05-08 22:18] eyakubovich commented on #382
You're right, there're problems with L2 based solutions and I'll be glad to see implementations use L3. However, this is a spec, we want it to be general and allow for L2. One thing we do know is that nobody can agree on the "right way" to virtualize networking and being flexible here is important. And to that end, helping folks out by not also forcing them to be secure against IP spoofing is a ni

[2015-05-08 22:21] eyakubovich commented on #396
Doing compression as part of an encryption suite violates semantic security. But if we view compression as distinct prior step so that plaintext is compressed data, well then there are no problems.

[2015-05-08 23:07] philips commented on #365
Isolators aren't just about resources but also things like capabilities, syscalls, etc. I am OK with saying particular isolators are not allowed inside of the image section like memory, cpu, etc.

[2015-05-08 23:35] jonboulle opened #401 "OS-SPEC: add a (Free)BSD section"
appc has at least one implementation on FreeBSD being actively developed, [Jetpack](https://github.com/3ofcoins/jetpack). We should have a section in the OS-specific part of the spec addressing what needs to be provided by runtimes on this platform.

(My BSD-fu is too weak to know whether it's more reasonable for this to be FreeBSD-specific or more general to the other BSDen, hence the ambiguity i

[2015-05-08 23:37] jonboulle commented on #401
@mpasternacki are you up for taking this on?

[2015-05-09 00:36] globalcitizen commented on #388
The very fact that the kernel will add capabilities over time is why an explicit `...retain` approach should be strenuously encouraged and `..._remove` forcibly deprecated.

Scenario:
 * Kernel version 1 has capabilities A, B and C.
 * Kernel version 2 adds capability D.

With a `..._retain` approach, a service explicitly specifying that it requires A and B capabilities will survive the upgrade to

[2015-05-09 00:39] globalcitizen commented on #382
If you truly want it to be general:
 * Remove the metadata service entirely as it depends on IP
 * Support non-networked containers
 * Make all network configuration interface-oriented
 * Support multiple interfaces

[2015-05-09 00:47] globalcitizen commented on #295
I don't think you understood my point - when I suggested removing "name-based image downloads" owing to its destruction of determinism, I wasn't merely criticizing the name-based notion ("fully qualified" or otherwise) but in fact the image download notion in general.

As far as justifying that feature on an obscure legal edge-case, well, I don't feel that has much weight in pain saved versus ever

[2015-05-09 00:48] jonboulle commented on #386
thanks for catching, fixed by #399

[2015-05-09 00:48] #386 closed

[2015-05-09 00:54] globalcitizen commented on #361
That's a pretty weak and general answer to a series of specific points. I have no idea who you are or where "here" is (I guess Google?), nor do I really care. I would request that you make your argument based on actual evidence instead of "trust me" / "it's how we've always done it". As it stands, I am forced to wonder why these points are getting shut down instead of responded to even after being

[2015-05-09 00:56] globalcitizen commented on #390
@xiang90 : The re-raising of these points as #361 is perhaps clearer, would you be so kind as to offer your opinion there?

[2015-05-09 01:03] jonboulle commented on #396
+1 to @eyakubovich 's take

@namn would you mind coming up with a proposal for a security considerations section?

[2015-05-09 01:13] globalcitizen commented on #361
As further illustration of the problems of trying to unify all subsystems in to a single structure here I would point out that:
 * An interface-oriented, multi-interface supporting networking configuration (desirable) would demand limits for networking related resources be applied differently against multiple interfaces
 * Historically, one of the most frequently measured and controlled resource l

[2015-05-09 01:19] jonboulle commented on #376
This is the path I don't get, can you please point out where you're seeing it hard-coded? An example would be helpful. Thanks!

[2015-05-09 01:30] xiang90 commented on #387
@globalcitizen

In both pod and image manifest schema spec:

it clearly states
[code]

Can you please tell me why do you think it is inexplicit?

[2015-05-09 01:34] globalcitizen commented on #387
Because it should not be necessary to search the documentation to find out what something means.

*Documentation is an admission of failure.* - Eric S. Raymond, The Art of Unix Usability (2004)

[2015-05-09 01:54] xiang90 commented on #387
@globalcitizen

1. the spec is not written for an end-user, but for the people who want to implement it or understand the details of it. the assumption that these people will read the spec carefully is reasonable for me

2. i agree if we want to educate novices as in what you quoted, we should probably give it a more specific name.

[2015-05-09 01:54] jonboulle commented on #387
What would you propose?

[2015-05-09 01:57] jonboulle commented on #394
I think there is exhaustive prior art here with countless package management systems on different platforms (not to mention the term "dependency hell"). I don't see a significant divergence in our usage: dependent images (packages) that need to be transitively installed for this image (package) to be run.

How? They have never been out of sync. The dependencies concept has not changed since we int

[2015-05-09 02:24] globalcitizen commented on #387
I would propose a switch to JSON Schema which will enable proper versioning and the standardized referencing of the Schema version.

Failing that, use context more than a mystical `ac` acronym to make the meaning clear. For example, ensure the version of the schema is right at the top of the file, perhaps using a prefix (`_acVersion`) or a special structure (`'_schema':{'acVersion':'1.2.3'}`) or e

[2015-05-09 02:34] globalcitizen commented on #394
Apologies, I was not clear enough. What I meant was that `dependencies` suggests package-style dependencies. However, what you are actually specifying here is filesystem layers. In that sense, informed by the same "countless package management systems" experience you refer to, the use of the term dependencies is unclear/misleading in this context.

As the clear subject here is filesystem layers, a

[2015-05-09 07:40] ibukanov commented on #376
@jonboulle
Currently the spec requires that for the volume kind `host` it source must be an absolute path like `/opt/tenant1/work`. Thus the pod file needs to assume a particular filesystem layout on the host. It would be nicer if the source can be set just to, say, `tenant1/work` and let the implementation to decide where to put that. The only restriction is that if another pod also specifies `te

[2015-05-09 21:01] thockin commented on #361
I can quote evidence at you all day long, but you don't have to believe me
because it's all internal evidence I can't show you.

Two grades of service for certain classes of resource (particularly CPU and
memory) allow all sorts of things that are desirable.

Being able to burst CPU if it is available gives better user latency,
utilization, and power usage.  It's not a hard guarantee, but it can b

[2015-05-09 23:22] globalcitizen commented on #361
OK so essentially you are saying for Google workloads inside of Google that probably emphasize density, Google likes this setup.

That's fine but it's really a question of scheduling vs. workload vs. resources vs. business goals... not something I'd personally consider trying to 'one size fits all'.

I would say that since essentially the ACE should do the scheduling (its in the best position to d

[2015-05-10 03:17] thockin commented on #361
I appreciate your enthusiasm, and would welcome some concrete proposals, in
the form of a pull request, which we could discuss.  What we have now is
the result of experience and long discussions and what-if.

On Sat, May 9, 2015 at 4:23 PM, Walter Stanish <notifications@github.com>
wrote:

[2015-05-10 08:09] globalcitizen commented on #361
Well, I do think if the so-called "result of experience and long discussions" is not accessibly documented its validity is questionable. So what we have right now is actually 'what-if' and 'excuse me that what-if has identifiable issues'.

[2015-05-10 15:27] thockin commented on #361
I thin we're open to we'll reasoned changes.
On May 10, 2015 1:09 AM, "Walter Stanish" <notifications@github.com> wrote:

[2015-05-11 14:41] matwey opened #403 "Provide Image ID through HTTP"
There should be a way to provide Image ID of the *.aci file available by HTTP in order to check whether the container already download and cached.

[2015-05-11 19:07] jonboulle commented on #403
I don't quite follow which component(s) you're talking about, could you
provide an example?

On Mon, May 11, 2015 at 7:41 AM, Matwey V. Kornilov <
notifications@github.com> wrote:

[2015-05-11 23:11] jonboulle commented on #361
I wrote a long reply a while ago but apparently never successfully submitted it. I'm not sure it's going to be constructive for me to reproduce it again, so let me just summarise by echoing Tim's point that we are very open to substantive proposals of how to improve things here. On the face of it it sounds like you might be receptive to a three-pronged (required/probable/maximum) approach which I

[2015-05-11 23:14] jonboulle commented on #361
I don't understand how this particular point relates to this issue, AFAICT it's just a facet of how the network bandwidth isolator is defined today (lack of granularity) - https://github.com/appc/spec/issues/278

[2015-05-11 23:29] jonboulle commented on #376
@ibukanov The expected flow here is that the ACE (which is running on a particular host and aware of that host's particular filesystem layout) late-binds the volume source. Until the point that the manifest is being executed, it doesn't even have that volume specification present. I concede that this isn't as clear as it should be today (we aren't effectively demonstrating pod templates vs. reifie

[2015-05-11 23:46] jonboulle commented on #387
This is predicated upon keys being ordered during marshalling which is not the general case and I would be resistant to mandating this in the spec. ImageManifests are for machines, not people; it's a failing of tooling if users are encountering this field and confused as to its meaning.

I think we are definitely open to adopting JSON Schema if it makes sense. I don't have a great reason for why w

[2015-05-12 00:25] jonboulle commented on #395
I don't follow this reasoning at all. Certain labels (e.g. the well-known ones today, os/arch/version) are necessarily immutable precisely _because_ images are "competing" in a global namespace and not completely controlled in-house or in a single monolithic repository. Consider the predominant Linux packaging systems today - labels are baked into the packages and e.g. any change to the source nec

[2015-05-12 07:06] ibukanov commented on #376
@jonboulle Now I see how late bindings solve the issue. Clearly, it would be nice to clarify that.

However the late bindings immediately rises the question what if I want to refer to the same volume from another pod? Is the answer that an administrator should rely on unspecified tool to setup that volumes in 2 pods point to the same directory on the host? Perhaps in that case it is better to drop

[2015-05-12 08:31] matwey commented on #403
In "App Container Image Discovery" section, you describe how http should be used to discover and obtain aci images. However, nothing prevents to modify file at specific http url keeping the same name. Because of this, user has to fetch the aci image every time when remote image is referred. So, the caching mechanism should be present and described here to check that aci file has not been changed a

[2015-05-12 12:04] globalcitizen commented on #387
It takes ages to write and test a JSON Schema in my experience, and I am no expert at it, so I don't think I would be the right party to produce a first version, sorry. As well as this, I am probably not the right party as I am having serious problems understanding some of the design decisions and field purposes at present (like how `annotations` vs. `labels` are created and differ for just one ex

[2015-05-12 17:11] mpasternacki commented on #401
Will do.

[2015-05-12 17:46] jonboulle commented on #376
Well yes, I'm not sure what the alternative is? I can't see any sensible way for this to be expressed in the spec

Maybe, but then arguably we should remove them from the imagemanifest too (#364). The point of them being in the reified pod manifest today is that it provides a definitive document of the pod's execution environment. Anything defined in the spec but overridden by the executor (enviro

[2015-05-12 17:52] jonboulle commented on #396
Addressed by #402

[2015-05-12 17:52] #396 closed

[2015-05-12 17:56] jonboulle commented on #403
Gotcha, makes sense. How would you expect this is expressed to clients? (I assumed header and updated the issue title accordingly but perhaps you had something else in mind.)

[2015-05-12 18:15] matwey commented on #403
I am not sure about header ```X-ACI-ImageID``` only, because it the headers may not always be controlled. For instance, if I put my ACI on Amazon S3 (though I've never done that), then I can not control what the server responses.
At the same time, I am not sure about special additional file ```.aci.id```, it looks overkilling.

[2015-05-12 18:18] blalor commented on #403
I’m pretty sure you *can* set custom headers in S3, but I think it’d be better if that wasn’t required. It’ll be easier for ops folks (and everyone, really) if a remote HTTP server and a local filesystem can be used interchangeably.

[2015-05-12 19:58] ibukanov commented on #376
The host volume source is meaningless as on modern Linux an absolute path requires a mount namespace reference to make any sense. This is rather different from execution parameters or variables as those applies to the container itself, not the host. Plus the current separation of volumes into host/empty is too restrictive. What if the executor uses periodic GC to remove no longer used volumes base

[2015-05-12 23:43] jonboulle commented on #376
Well presumably "host volume" => "host mount namespace" (or technically "mount namespace in which the executor is running" to be particularly pedantic). I certainly agree that it is not particularly useful from within the pod itself to introspect this. But for auditing purposes etc, it still seems to have utility to know that "when this pod ran, it had this volume from its source runtime context"

[2015-05-13 05:47] ibukanov commented on #376
@jonboulle said:

Unless I missed something, the notion of the volume *name* is the only way in pod to declare that mount points in different containers points to the same storage.

[2015-05-13 06:44] ibukanov commented on #364
After considering this farther, it seems that the notion of a name for both mount points and volumes is unnecessary indirection. It requires to invent a lot of extra names when the mount path in the container is sufficient to identify the storage.

So the idea is to drop the name field from the elements of the `mountPoints` array and remove the `mounts` array from the app object. Then make the `vo

[2015-05-13 19:14] soellman opened #406 "spec: ACName restrictions prevent discovery of valid urls"
I haven't looked very deeply into how discovery works, but my quay.io org name has an underscore in it, and rkt can't pull private ACIs from there because ACName complains (and rkt just gives an erroneous error: rkt/images.go:261).

I can provide a PR, but is this an unintended consequence, or is there a reason ACName is more restrictive than common URL characters?

I'm new here so pardon any igno

[2015-05-13 19:16] jzelinskie commented on #406
linking to https://github.com/coreos/rkt/issues/898

[2015-05-15 00:56] philips commented on #406
I am OK with taking this change. Anyone else from the @spec team?

On Wed, May 13, 2015 at 12:16 PM, Jimmy Zelinskie <notifications@github.com>
wrote:

[2015-05-15 01:08] philips commented on #364
We introduced the mount point and name so an image can say where they
expect to have mount points. The problem we were seeing is that people were
having to read docs on Docker images to figure out which paths a given
container expected to be able to write to and perhaps even have that data
persist.

I am OK with getting rid of the indirection and letting the tool that is
running the image take the

[2015-05-15 02:25] philips commented on #403
I think it is better if we rely on TUF (#211) to give us this sort of data.

[2015-05-15 02:41] philips commented on #403
As a follow up it would be nice to say in the spec that an endpoint serving up an aci SHOULD use the Image ID as the etag.

[2015-05-15 02:41] #389 closed

[2015-05-15 17:28] dgonyeo commented on #406
If you're going to modify the regex that identifies the presence of invalid characters, it might be worth adding all the [valid characters](http://tools.ietf.org/html/rfc3986#section-2) allowed in URLs.

[2015-05-15 17:48] eyakubovich commented on #393
It's not about formalizing the schema (although that would be a nice to have and PR welcome). It's about letting JSON parser doing as much of the parsing as possible. That's why there's value in not putting more structure into strings. However the "ports" idea is something to consider but we need to get few more "+1's" from the community.

[2015-05-18 15:57] vbatts commented on #385
Again, by having a "kind", that folks can implement too, allows interoperability with the spec, but could even let someone vet out a new kind, that has undetermined expectations. But by making a field like that boolean, you have only two behaviors. That is a future pain and complication.

PodManifest has a lot of overlap with ImageManifest, granted. But they may likely be a need for a ServiceManif

[2015-05-18 15:57] #385 closed

[2015-05-20 02:29] soellman commented on #406
Should I just add the URL unreserved chars to the regex, or the full monty with delimiter chars?

[2015-05-20 19:41] jonboulle commented on #377
@faddat would you be up for putting together a proposal for this?

[2015-05-22 18:23] jonboulle commented on #406
@thockin thoughts on this?

[2015-05-22 18:32] #330 closed

[2015-05-24 18:26] anthonybishopric opened #415 "App Container Image Discovery requires download of 'latest' to know if it has changed"
Perhaps this is out of scope for what the appc spec should be capable of providing, but one feature I was hoping to get from the discovery process is the case where I want to know if the latest version of an image has changed. Currently, it appears that is not possible - the discovery workflow for latest goes something along these lines:

* A Linux client is given an image name, along the lines of

[2015-05-27 01:45] yifan-gu commented on #406
Any consensus on this? Being strict v.s. opening the door for all validate URL characters?
My vote is being strict for now, so adding just those URL unreserved chars("-" / "." / "_" / "~") because I can't see much usage for chars like `!` `$` `&` (any examples??)

Actually I don't even know when `~` will be used?

[2015-05-27 10:48] mpasternacki commented on #406
`~` can be used if somebody hosts images in old-school `~/public_html/` directory or similar `/~user/` convention. The `?&` characters should not be allowed, as they are used in query strings and this can open whole new can of worms (where to add the `.gpg` suffix: before `?` or at the end of whole string?).

I wonder about URL-encoding, though. Maybe it would enable using all kinds of URLs withou

[2015-05-27 14:56] alban opened #417 "schema: add armv6l as valid arch for linux (Raspberry Pi 1)"
Some arm architectures are already added by #304 for #284. But according to https://github.com/coreos/rkt/issues/730#issuecomment-105490008 this is not enough for Raspberry Pi 1:

/cc @DieterReuter

The current support is:
[code]

[2015-05-27 15:31] jzelinskie commented on #406
I don't know if we want to get in the situation where we're encoding and decoding names, but I still think something like [punycode](https://en.wikipedia.org/wiki/Punycode) should be at least mentioned in this conversation since this is how the problem was solved for DNS.

[2015-05-28 17:05] josephschorr opened #418 "appc push specification proposal"
Hi everyone,

I've started a proposal for pushing ACIs. Please see and comment here:
https://docs.google.com/document/d/1-zvY2tSGYOT853eGJMWkPet4yRZyP0LBgjmFjgE1-_I/edit?usp=sharing

[2015-05-28 22:18] jonboulle commented on #415
Would #403 address your concern?

[2015-05-28 22:24] krobertson commented on #415
+1 to #403... I had been thinking about the same thing recently

[2015-05-29 05:02] thockin commented on #349
Sorry for being absentee - I'm slammed.

My main point with this is that I was surprised to see these (to me) very different ideas being managed by the same mechanism.  I'm not actually deeply familiar with all the use cases around security, sadly.

[2015-05-29 05:15] thockin commented on #364
I totally understand the desire to say "I expect a volume here" - I have
wanted this.  I'm afraid it's more complex than just "I expect a volume"
though.  Does that include the kind of volume?  empty vs pre-filled?
 read-write vs read-only?  performance charateristics?  durability
characteristics?  It's a very different thing to say "I expect a read-only
directory filled with my security keys stor

[2015-05-29 05:22] thockin commented on #406
For kubernetes we opted to expand when we have real use cases.  We do not support ~, for example, but this is somewhat different - this is sort of assumed to be resolvable as a URL, right?

[2015-05-29 08:45] alban commented on #417
@DieterReuter : would you like to do write PR for this? Do you have the hardware to test?

https://github.com/appc/spec/blob/master/schema/types/labels.go#L9

[2015-05-29 08:56] DieterReuter commented on #417
@alban, I do have the hardware available and will prepare a PR. Give me just a few days, please!

[2015-05-29 18:12] soellman commented on #406
So it sounds like maybe we just want the unreserved chars for now?

[2015-05-29 22:55] yifan-gu commented on #406
+1 for this. I was going to modify https://github.com/appc/spec/pull/398 for this. But my computer crashed today...

[2015-05-29 23:02] yifan-gu commented on #406
Also, shall we consider adding upper case letters ?

[2015-05-29 23:24] yifan-gu commented on #406
FWIW, in docker, the repository can contain `. - _ / :` and uppercase letters.

[2015-05-31 06:50] linfan opened #420 "baci is totally out of date, any replacer?"
The tool `baci` mentioned in this specification is [actually NOT compatible with the latest appc and rkt any more](https://github.com/sgotti/baci/issues/3).

Do CoreOS plan to have another official tool to replace it?

Also the Dockerfile format is NOT 100% fit for Appc images, e.g. it does not support exposing a MountPoint. It do have a far way to go..

[2015-06-01 21:06] jonboulle commented on #420
sgotti is best placed to comment on the specifics of baci. There are some proposals being worked on for alternative build workflows/tools, but nothing quite ready to note here; as soon as they turn into tangible projects we'll be sure to update the README to reference them. Thanks.

[2015-06-01 21:06] #420 closed

[2015-06-03 19:29] jonboulle opened #422 "spec: dependencies should have "size"/"length""
Dependency references should have an optional "size" or "length" field to allow clients to prevent against DOS attacks  ([e.g.](https://github.com/theupdateframework/tuf/blob/d7fd61234e423a30b5ab10253f347fbd515180af/docs/tuf-spec.txt#L138)) when discovering and retrieiving them.

[2015-06-04 22:49] jonboulle opened #424 "spec: remove name uniqueness requirement for ports"
Currently, the ports section of the pod manifest stipulates that:

[thockin raised the (valid) concern](https://github.com/appc/spec/pull/405#discussion_r30172875) that this is a shortcoming in that it prevents images from being arbitrarily composable (i.e. conflicting port specifications).

He proposed four possible solutions:

1a. always reference port names as appname.portname
1b. allow appname

[2015-06-05 18:02] mpasternacki opened #425 "spec: clarification needed for dependencies unpacking"
What should happen if one of dependencies include a path that is already present in the image? Straightforward implementation of the above process would overwrite the image's file with one from the dependency. On the other hand, common sense would suggest that this reading is not intentional; this definitely is not the behaviour I would expect.

I would expect that a dependency is similar to a "pa

[2015-06-05 21:30] jonboulle commented on #425
@mpasternacki Your understanding of the use case is correct and the wording is wrong here, I'm afraid  - the rootfs of the ACI should be extracted _after_ any dependencies. In the schema definition we describe it properly:

but clearly this is at odds with the passage you've highlighted.

Are you up for submitting a PR to fix this? otherwise I can take it.

I suggest we also eliminate some of the

[2015-06-05 21:42] mpasternacki commented on #425
Thanks for the clarification! Will submit PR with a fix (tomorrow, it's almost midnight here), I just wanted to know how to fix it first.

[2015-06-05 22:20] mpasternacki commented on #425
While we're at the rendering: how should directories in `pathWhitelist` be treated: kept with their contents, or just the directory? Does a trailing slash or lack of it make a difference?

[2015-06-05 22:21] krobertson commented on #425
The way I had implemented PathWhitelist for Kurma just yesterday was:

1) Trailing slash means the directory and all of its contents
2) Non-trialing slash meant just a file, or the directory without its contents. So, `/var/lib/mysql` would allow the directory to be created, but not any of its contents.

[2015-06-05 22:23] krobertson commented on #425
I agree with the clarification too. I'd been talking in IRC with @jonboulle about it yesterday. I didn't spot the incorrect definition, but was confused on it.

[2015-06-05 22:52] jonboulle commented on #425
Sigh, we went through this in https://github.com/appc/spec/pull/354 but I suppose it's still not clear...
Perhaps we could revert to https://github.com/appc/spec/pull/309/files

[2015-06-05 23:14] mpasternacki commented on #425
#354 seems to have changed the spec to be less specific. IMO we should either say that directory is never recursive (i.e. `pathWhitelist` is just a list of paths not subject to any interpretation), or go the full way in the other direction and make it  an array of globs (hopefully supporting `**` that matches any char including slash) or regular expressions. In my perfect world, we'd have an array

[2015-06-05 23:16] jonboulle commented on #425
yes, mea culpa, I removed that extra explanation in response to this comment specifically - https://github.com/appc/spec/pull/354#discussion_r29904243

[2015-06-05 23:16] jonboulle commented on #425
Re: blacklists: #323

[2015-06-05 23:19] mpasternacki commented on #425
Oooh, there even seems to be a Go implementation of `.gitignore` rules: https://godoc.org/github.com/sabhiram/go-git-ignore

[2015-06-06 03:19] jonboulle commented on #373
Ping @schancel

[2015-06-06 03:19] jonboulle commented on #348
Fixed by #405

[2015-06-06 03:19] #348 closed

[2015-06-06 17:49] schancel commented on #373
Pong.

[2015-06-08 14:32] iaguis opened #426 "actool: patch-manifest: allow changing the value of isolators"
This would help with functional tests. See [coreos/rkt#1006 (comment)](https://github.com/coreos/rkt/pull/1006/files#r31912764)

[2015-06-08 18:39] philips commented on #373
@schancel I think @jonboulle is asking if you could help out with a PR.

[2015-06-08 18:51] jonboulle commented on #373
yes, that's what I was asking :-)

[2015-06-09 00:47] jonboulle commented on #342
Fixed by #398

[2015-06-09 00:47] #342 closed

[2015-06-09 00:47] jonboulle commented on #406
@yifan-gu this can be closed right?

[2015-06-09 01:17] yifan-gu commented on #406
@jonboulle Yes I think so! Users should now be happy with most their URLs.

Though for the rkt issues, we will need to cut a release for spec and bump the dependency :)

[2015-06-09 01:17] #406 closed

[2015-06-09 01:27] jonboulle commented on #425
@mpasternacki any chance of getting to this in the next couple of days?

[2015-06-09 04:54] krobertson commented on #425
Matching .gitignore standards would be good. Always like something known.

[2015-06-09 15:53] schancel commented on #373
Yes, I was acknowledging that.  :)

[2015-06-10 20:36] jonboulle commented on #425
Bumping to 0.7.0

[2015-06-10 20:42] jonboulle commented on #107
I am going to close this out due to inactivity (and we have put a fair amount of effort into clarifying the dependencies mechanism in the last few releases). Please re-open if you'd like to discuss further.

[2015-06-10 20:42] #107 closed

[2015-06-11 06:21] HuKeping opened #430 "what's the relation between appc and docker-libcontainer?"
Are these two on the same aspect? If not then what's the counterpart in appc

[2015-06-11 17:20] krobertson commented on #430
AppC is strictly a specification of a container format. It defines a format for a container image, and a JSON document defining the container (what to run, who to run it as, etc), which is the ACI. It defines some baseline requirements of an implementation (ACE, App Container Executor) which would actually run the containers, and so forth.

Libcontainer is the actual container orchestration/iimple

[2015-06-11 21:42] yifan-gu commented on #426
#428

[2015-06-12 01:29] HuKeping commented on #430
Thanks @krobertson

[2015-06-12 23:53] jonboulle commented on #430
Please re-open if you have further questions. Thanks.

[2015-06-12 23:53] #430 closed

[2015-06-12 23:54] jonboulle commented on #417
@DieterReuter how goes?

[2015-06-15 12:47] HuKeping opened #441 "Do we plan to support CRIU in the spec"
Hi there,

I did't find any issue or pr that discuss about the CRIU, do we have a plan to support that?

Thanks.

[2015-06-15 17:26] krobertson commented on #441
How would it be applicable to the specification in your opinion?

Overall, CRIU is more likely specification to an implementation's choice to support it, rather than something that fits in with the AppC specification.

[2015-06-15 17:28] jonboulle commented on #441
I don't think this is ever something we could begin to describe in the spec since it's incredibly implementation specific. But it might be supported in implementations themselves: for example, https://github.com/coreos/rkt/issues/543

[2015-06-15 17:28] #441 closed

[2015-06-15 21:37] philips commented on #441
We have the concept of "eventHandlers" in the ACI to have hooks for use cases like reconfiguring the network after a restore. Are there other things you feel are needed?

[2015-06-15 22:46] yifan-gu opened #443 "Need some tests for actool"
Major things we would want to test out:
- [ ] build
- [ ] cat-manifest
- [ ] discover
- [ ] patch-manifest (many different options (exec, manifest, isolators, ports, volumes, ...)
- [ ] validate

[2015-06-15 22:49] jonboulle commented on #443
I really want to move most of this functionality into https://github.com/appc/acbuild and leave actool as a minimal validator.

[2015-06-15 23:11] yifan-gu commented on #443
@jonboulle Thanks for heading up, will take a look.

[2015-06-16 01:53] HuKeping commented on #441
Thanks @krobertson @jonboulle , I think I just don't quite understand the AppC and you are right it is more likely to be supported by an implementation itself. I'll take a deeper learning about it :)

Thanks @philips , Not much in my mind, just find it might be useful  in  some production scenarios.

[2015-06-16 02:25] jonboulle commented on #426
Fixed by #428

[2015-06-16 02:25] #426 closed

[2015-06-16 03:16] HuKeping commented on #430
Hi @krobertson , If my company build an implementation of AppC, let's call it rkt2. Does it mean that the images made by rkt2 can be run by rkt or any other implementations of AppC consistently?

[2015-06-16 03:17] jonboulle commented on #430
@HuKeping Yes, that is the intention of the spec.

[2015-06-16 03:23] HuKeping commented on #430
amazing! So that is what we want, thanks @jonboulle

[2015-06-16 18:27] #417 closed

[2015-06-17 01:25] eyakubovich opened #446 "build_aci script fails if NO_SIGNATURE is defined"
Because of strict mode, `if [ -z "$NO_SIGNATURE" ] ;` fails with `unbound variable` instead of executing the branch.

[2015-06-17 01:26] jonboulle commented on #446
strange, surprised mpasternacki didn't notice this in #433

[2015-06-17 06:22] HuKeping commented on #430
hi, another question, are these `[Isolators](https://github.com/appc/spec/blob/master/spec/ace.md#linux-isolators)` all or portion based on
cgroups?

[2015-06-17 13:05] kelseyhightower commented on #364
@thockin @jonboulle I ran into this yesterday while converting a bunch of docker Kubernetes images to ACIs. I was a bit confused on how to articulate mounts, volumes, and mountPoints in my manifest. Turns out I only really needed to specify mountPoints on the app, which allowed me to use the `--volume` flag during rkt run to get everything working.

Is the fix here to clean up the docs, or cleanup

[2015-06-18 00:50] eyakubovich opened #447 "validator failing at AC_APP_NAME step"
Not sure if this is appc validator or coreos/rkt issue but the validator fails with:

`[169211.925891] ace-validator[11]: ==> AC_APP_NAME not set appropriately (need "coreos.com/ace-validator-main", got "ace-validator-main")`

[2015-06-18 01:18] #447 closed

[2015-06-19 22:58] krobertson commented on #430
They vary on how the actual orchestration of them are. cgroups is good for things around resource limits on cpu, memory, iops, etc. Other tools would be needed for traffic shaping or network bandwidth. Isolators are meant to be just a generic way to specify a constraint to be placed on a container. They will vary, and are why they are kind of namespaced (ie, "os/linux/capabilities-remove-set", sin

[2015-06-23 01:40] HuKeping commented on #430
Thanks @krobertson

[2015-07-01 16:48] jonboulle commented on #263
Cross-linking to Kubernetes who are experiencing the same pain: https://github.com/GoogleCloudPlatform/kubernetes/issues/3338#issuecomment-117269070

[2015-07-01 22:16] jonboulle commented on #418
Capturing OOB discussion - we should consider how to deal with image dependencies (layers).

/cc @jzelinskie @klizhentas @derekchiang

[2015-07-05 15:21] mpasternacki commented on #446
Fixed in #452

[2015-07-05 23:43] #446 closed

[2015-07-07 06:59] derekchiang commented on #323
@sgotti @schancel is any of you still working on this?  I'm working on [a project](https://github.com/appc/acbuild) that is pretty much blocked by this issue, so I'd be happy to provide an implementation.

[2015-07-07 16:24] jonboulle commented on #323
@derekchiang I think you should just go for it

[2015-07-07 16:32] schancel commented on #323
@derekchiang Yes.   Sorry, this is not a blocker for me -- it is just something I thought needed to get done.   I had started to update the validators and whatnot, but didn't get very far.   Feel free to just nab the changes to the spec I made put them under your work.

https://github.com/appc/spec/commit/07e05458f0d9911b16be102723f183cbe979dce6

[2015-07-07 16:56] sgotti commented on #323
@derekchiang I stopped waiting on https://github.com/appc/spec/issues/323#issuecomment-98961124 . I'll happily work or help on it. These are  busy weeks so I'll have more time on the next one. If it's an acbuild blocker feel free to take it. Thanks!

[2015-07-07 17:08] derekchiang commented on #323
@schancel I think what we are proposing here is to have both a blacklist and a whitelist, but you can only use one of them in a given manifest, no?  Your commit seems to simply replace the whitelist with a blacklist.

[2015-07-08 04:54] schancel commented on #323
Yes, I replaced it.  I don't see the value of a whitelist from a purely technical perspective.  (What are the use cases except hand-made ACIs?)  I am not opposed to having one optionally be in the spec though.

[2015-07-09 16:15] pmorie opened #453 "It should be to control the propagation mode of a host volume"
Propagation modes control how mount and umount events propagate between mount namespaces.  It should:

1.  Be spelled out in the appc spec what the default propagation mode of a container's mount ns is
2.  Be possible to control the propagation mode of a mountpoint

The use-case for controlling the propagation mode is to enable the `shared` propagation mode.  This is necessary to enable use-cases

[2015-07-09 21:19] pmorie commented on #453
@yifan-gu also relevant to your interests

[2015-07-10 21:30] derekchiang commented on #323
I have started putting together an implementation, but I just discovered one complication.  So according to the spec, the white list is supposed to be a "complete and absolute" set of paths.  That is, if `/a` is in the whitelist, it doesn't automatically mean that `/a/b` will be persisted.  You need to explicitly add `/a/b` to the whitelist to persist it.

With the blacklist however, if `/a` is in

[2015-07-19 00:39] philips opened #455 "New XZ package in pure Go"
We should use this instead! https://github.com/xi2/xz

[2015-07-22 16:29] eyakubovich opened #457 "Add volume type specific options to pod manifest"
First use case is that `host` type needs a flag to do the bind-mount recursively. Other types may also have options specific to them.

[2015-07-25 12:40] sgotti commented on #323
@derekchiang sorry for the delay. Seems reasonable to me that if a blacklist entry will automatically blacklist all of its children (it should just be clearly explained in the spec).

[2015-07-25 17:59] xi2 commented on #455
Hi. I'm the author of the xz package. Thank you for your interest.

I just wanted to mention that since my posting to golang-nuts I have added the small number of missing features required for it to handle any xz file, no matter how weird or wonderful. One bug has been found and fixed and I've now run several hundred thousand compressed files through it both with and without the x86 BCJ filter.

I

[2015-07-27 22:10] jonboulle commented on #323
+1

[2015-07-28 16:54] vbatts commented on #455
ohman. very exciting.

Is it consistent to itself? (e.g. compressing the same payload will produce the same cryptographic checksum of the compressed content)

[2015-07-28 17:15] jonboulle commented on #14
#455

[2015-07-28 19:39] xi2 commented on #455
@jonboulle, the package is only a decompressor unfortunately. I believe #14 is seeking a compressor?

[2015-07-28 20:12] vbatts commented on #455
ah, I see. I look forward to compress and decompress :-)

[2015-07-31 04:34] brianredbeard opened #459 "acitool needs a README"
Was just about to reference `acitool` from my [minimal containers](https://github.com/brianredbeard/minimal_containers) repository but realized it had no `README` file.

[2015-08-03 09:51] n0rad opened #463 "logic around ImageId and version"
I think there is a misconception around ImageId and version in manifests. I understand why there is both but the fact that sometimes it's version and sometimes it's is imageId that is required cause problems.

Especially around dependencies, today I don't know how to create a build workflow.
example:

I have `my.com/aci-es:0.1` and `my.com/pod-es-log:0.1` that have the first one as a dependency.

[2015-08-03 10:55] iaguis opened #464 "ace: validator fails to detect mount points"
Currently, the ACE validator checks if `/db` is a mount point since [it's defined as a mount point in the manifest](https://github.com/appc/spec/blob/0d1edc37553152577a56f256279992200f142b48/ace/image_manifest_main.json#L37).

It checks it's a mount point by calling `statfs()` on the directory and the parent and then comparing the f_fsid field. This check doesn't detect if a directory is a bind mo

[2015-08-03 11:04] iaguis opened #465 "schema/types: volume doesn't allow source paths with special URL characters"
We parse volume parameters with [`url.ParseQuery`](https://github.com/appc/spec/blob/0d1edc37553152577a56f256279992200f142b48/schema/types/volume.go#L101). This means that if the `source` field includes special URL characters they would be interpreted (e.g. `+` is converted to a space) making impossible to use those directories.

[2015-08-03 11:11] mpasternacki commented on #464
I bumped into a similar issue on FreeBSD: the `Fsid` fields were zeroed. I'm not 100% sure whether it's because of bind mount, or because jail is not allowed to see the fields. I've got a monkey-patch in Jetpack for that (https://github.com/3ofcoins/jetpack/commit/b4b599e697572d851d82163be1117d20336d971b) and I want to make a proper pull request. Not sure whether this approach would work on Linux,

[2015-08-03 13:29] iaguis commented on #464
It seems we can't use [`name_to_handle_at()`](http://man7.org/linux/man-pages/man2/open_by_handle_at.2.html) because it requires `CAP_DAC_READ_SEARCH`.

I think what we should do here is try to use [the `mnt_id` test](http://man7.org/linux/man-pages/man5/proc.5.html) and if it doesn't work because we have an old Linux, simply skip the test. There's no way to detect if it's a bind mount or not so t

[2015-08-06 06:44] mikedanese opened #470 "godeps: update kubernetes dependency"
As part of rewriting the Kuberentes import path from `github.com/GoogleCloudPlatform/kubernetes` to `k8s.io/kubernetes` we had to update a vendored appc/spec file (rather than Kubernetes vendoring an older version of itself in Godeps/_workspace). This was in https://github.com/GoogleCloudPlatform/kubernetes/commit/62a4d5623c42bd287bbd9ec16be9fb7ee08b8eb8 which was a part of GoogleCloudPlatform/kub

[2015-08-06 10:52] n0rad commented on #463
Found that I can set the version in labels instead of image name.

[2015-08-06 23:31] yifan-gu commented on #470
@mikedanese After #471 get merged I will update https://github.com/GoogleCloudPlatform/kubernetes/pull/8951 Then this should be good :)

[2015-08-07 22:35] eyakubovich opened #472 "actool: crash on patch-manifest"
$ actool patch-manifest --exec=/bin/bash alpine.aci alpine2.aci

[code]

[2015-08-08 21:30] jonboulle commented on #470
Fixed by #471

[2015-08-08 21:30] #470 closed

[2015-08-08 21:45] #464 closed

[2015-08-09 16:09] mikedanese commented on #470
Thanks!

[2015-08-09 21:41] #472 closed

[2015-08-11 04:32] philips commented on #459
@brianredbeard Like you want a README.md here: https://github.com/appc/spec/tree/master/actool?

[2015-08-11 04:32] philips commented on #457
@eyakubovich Can you give an example?

[2015-08-11 18:12] brianredbeard commented on #459
Yup, or documentation somewhere for the tool that doesn't require downloading, compiling, and running just to get a sense of how to use it.

[2015-08-14 18:53] pquerna commented on #339
+1, supplemental GIDs are available as a systemd exec unit, but it would be great if I can put them in the appc manifest:

http://www.freedesktop.org/software/systemd/man/systemd.exec.html#SupplementaryGroups=

[2015-08-17 18:43] eyakubovich commented on #457
@philips Are you looking for example of the syntax of the pod manifest? I don't have one in mind.

[2015-08-19 01:08] jonboulle commented on #465
Good catch, do you want to take a look at this? I suppose we need our own simpler impl of ParseQuery?

[2015-08-19 13:37] n0rad commented on #463
It seems the imageId is mandatory, so It still apply.

[2015-08-19 22:41] philips commented on #463
@n0rad Can you provide a concrete example of how this is a problem? The imageID isn't really discoverable so it is mostly useful for content verification of dependencies.

[2015-08-20 00:04] jonboulle commented on #199
https://github.com/docker/docker/pull/14067 is an example of using tar-split to recreate the tar files in a deterministic way

[2015-08-20 08:24] n0rad commented on #463
That's exactly my point, currently ImageID is mandatory in pod manifest and shouldn't, since we cannot do discovery by ImageID.

Currently to be able to run a pod, you have to have the images already available in the local storage.
But If I download the pod manifest on an empty prod machine and try to run it, rkt have to fetch the images of the pod (and should do it using name+version), without an

[2015-08-20 18:02] jonboulle commented on #463
@n0rad ImageID is mandatory at final pod execution time but not necessarily when using a pod manifest as a deployment template. For example, https://github.com/appc/spec/blob/master/examples/pod_template.json#L13 compared to https://github.com/appc/spec/blob/master/examples/pod_runtime.json#L37 - in this case we can imagine that the implementation which use the template manifest as an input (as rk

[2015-08-21 07:30] n0rad commented on #463
Ok, I think I got it why ImageID is mandatory in the spec.
Now It seems RKT is not processing the discovery to transform the template to runtime.

[2015-08-21 07:39] n0rad commented on #463
https://github.com/coreos/rkt/issues/1316

[2015-09-01 15:56] sgotti opened #479 "Define image name format string."
The image name format string is used inside appc/spec/discovery and also at least by rkt. Do you think it should be part of and defined in appc/spec? If not, the related coded should probably be moved outside.

By now it's something like this

`name[,label1=value][,label2=value],...`
or
`name:version[,label1=value][,label2=value]`

where `name` type is `ACIdentifier`, label type is `ACIdentifier`

[2015-09-01 16:18] sgotti commented on #479
Partially answering to myself: the spec/aci.md says: `name (string, required) [...] This is not expected to be unique (see the version label) but SHOULD have a URL-like structure to facilitate App Container Image Discovery. [...]`

Since the definition of `name` in the image name string should be the same of the `name` in the image manifest looks like it's not mandatory.

[2015-09-04 11:28] gyuho opened #480 "[HELP] how to manifest static file paths?"
My environment:

[code]

<hr>
<br>

Hello,

I am trying to replicate this sample example:
https://github.com/coreos/rkt/blob/master/Documentation/getting-started-guide.md

based on https://github.com/appc/spec/blob/af37e649406ed74eb55940a9bbd217911b0f9aee/spec/aci.md

The simple example works but when I try to add static files with `rkt`, it crashes as follows:

[code]

<br>
There must be wrong in

[2015-09-06 10:33] jaypipes opened #481 "Publish JSON-Schema documents for ACI format?"
Hi!

I'm wondering if there are plans to have the JSON-Schema documents that define the different ACI formats/versions be part of this source repository? Specifically, I was hoping to be able to just fetch the JSON-Schema documents and use a standard JSON-Schema validation library in Python.

Are there plans to publish these JSON-Schema documents?

Thanks!
-jay

[2015-09-09 03:18] ChengTiesheng opened #482 "A doubt about the define of struct ImageManifest"
Hi dear all, I am doing something about Appc specs, but  I am confused by the ImageManifest struct.
App           *types.App
I want to know why member App defined as pointer, different from other members, I don't get the answer through scanning the code.

Is it a intentional design or is it just a bug?

-------------------------------
[code]

[2015-09-09 15:03] steveeJ opened #483 "new volume type: overlay with upperdir being user-definable"
The idea mentioned in $topic would be a good compromise for users that can't or don't want to control on which path the pod writes on the filesystem. It would allow to overlay any directory in the ACIs rootfs, and thus catch all writes no matter if they're new files or modifications on files that existed before in the rootfs. The catch-all case would be to overlay `/` and simply catch **all** writ

[2015-09-10 20:51] jonboulle commented on #482
@ChengTiesheng it's valid for an ImageManifest to contain no App section, and to achieve that with golang's marshalling it needs to be a pointer. Example: http://play.golang.org/p/28FICldIpy

Does that make sense?

[2015-09-10 20:59] jonboulle commented on #482
See also: https://github.com/appc/spec/pull/66
I'm going to close this out since hopefully this addresses your question but feel free to re-open if not.

[2015-09-10 20:59] #482 closed

[2015-09-11 00:45] jonboulle opened #484 "isolators: are requests/limits *both* required?"
Some isolator types (`resource/memory`, `resource/cpu`) have fields for both `request` and `limit`. It's a little ambiguous from the text whether they're both required:
https://github.com/appc/spec/blob/master/spec/ace.md#resource-isolators

Arguably it's implied by this sentence that at least limit is required:

but it would be better to clarify this in the text and mandate it in the schema.

The

[2015-09-11 08:05] ChengTiesheng commented on #482
@jonboulle, thanks a lot for your detailed reply.

[2015-09-14 08:49] iaguis commented on #479
As a side note we could change docker2aci so it generates `index.docker.io/busybox:latest` and it's not a special case.

[2015-09-14 20:12] vbatts opened #487 "actool: usage is not showing usage"
https://github.com/appc/spec/blob/c633a5ff7ee26e5bf9a7de0d06f34f4e96c9304d/actool/build.go#L39
indicates that `[--overwrite] [--no-compression] DIRECTORY OUTPUT_FILE` would be visible,

but with `actool build --help` it shows:
[code]

[2015-09-14 20:14] jonboulle commented on #487
unfortunately that's due to pkg flag eating the `--help` and printing its own useless format - this gets you what you're after:

[code]

[2015-09-14 20:15] jonboulle commented on #487
We probably just need a real argument parsing library to get this consistency..

[2015-09-14 20:17] vbatts commented on #487
ahh

[2015-09-14 22:44] jonboulle commented on #481
Hey Jay, we've definitely considered this in the past but were a bit ambivalent about the expressibility and popularity of JSON-Schema. Some previous discussion here: https://github.com/appc/spec/issues/387#issuecomment-100412756

I am very open to seeing it but it's not a priority for any of us working on the spec at the moment :-)

[2015-09-15 00:21] jaypipes commented on #481
OK, no worries Jon. Would y'all be interested if I contributed the JSON-Schema documents to the appc spec repo?

[2015-09-15 01:30] jonboulle commented on #481
Certainly!

[2015-09-15 01:36] jaypipes commented on #481
OK, cool :) I'll do my best to push up a pull request sometime this week for perusal!

[2015-09-15 08:05] jonboulle commented on #480
Hey @gyuho,

My first observation is that it looks like you might be conflating the [image manifest](https://github.com/appc/spec/blob/master/spec/aci.md#image-manifest-schema) with the [pod manifest](https://github.com/appc/spec/blob/master/spec/pods.md#pod-manifest-schema). The `mounts` array should be in the latter, but you have it in your example:
[code]

This section, mapping volumes to mount

[2015-09-15 19:50] gyuho commented on #480
@jonboulle  Thanks a lot for explanation.

I come from Docker background trying to do the same things with rkt and appc.
Yes, that's what I thought. I don't think I need to specify any static file paths.
Here's the Dockerfile that works for the same project:

[code]

I think I misunderstood this line:

This sounds like to me, even all static files need to be copied into `rootfs`.
I will research m

[2015-09-16 03:36] jonboulle commented on #480
@gyuho correct, in your simple example all static files would be in a single rootfs. There are a couple of alternative ways to achieve a similar thing, though:
- the static files could be located in a dependent image rather than in the same image as your code.
- if the static files _were_ located on another volume, you could use mountPoints/volumes to provide them into the pod at runtime, kinda li

[2015-09-16 05:14] gyuho commented on #480
I understand. Thanks @jonboulle.

I read https://github.com/appc/spec/blob/master/spec/aci.md#image-manifest-schema
again and made some changes to my `manifest.json` but still couldn't get it to run.
I think I am doing something run with my `rkt` paths.

I am getting follow errors:

[code]

from this file system:

https://github.com/gyuho/learn/tree/master/doc/go_web_application_deploy_container/c

[2015-09-17 00:20] Yossibh opened #491 "actool: extending `patch-manifest` subcommand to allow toggle of socketActivated flag"
actool's  `patch-manifest` subcommand provides the functionality to change port numbers.
it would be handy to extend this functionality to also allow changing the "socketActivated" manifest property.

This is following a discussion here: https://groups.google.com/forum/#!topic/rkt-dev/WZrAGMOVZrY

[2015-09-17 19:20] jaybuff opened #493 "error messages when asserting valid fields should reference actual json field names"
When an app manifest doesn't have a user field the error message complains with

    User is required

But the name of the json field isn't `User`, it's `user`.  That makes this error message confusing.  There are a few of this checks that are misleading like this.  See https://github.com/appc/spec/blob/785b1ee5/schema/types/app.go#L69-L76

[2015-09-17 21:25] vbatts commented on #323
+1

[2015-09-17 21:26] jonboulle commented on #323
@vbatts c'mon, don't be that guy, put up a PR

On Thu, Sep 17, 2015 at 2:25 PM, Vincent Batts <notifications@github.com>
wrote:

[2015-09-18 21:10] jonboulle commented on #298
Fixed by #322

[2015-09-18 21:10] #298 closed

[2015-09-18 22:56] #425 closed

[2015-09-19 01:03] jonboulle commented on #364
Simplified in #495

[2015-09-19 01:03] #364 closed

[2015-09-23 11:15] alban opened #498 "build aci: setting file ownership in the archive"
When building an aci with [BuildWalker](https://github.com/appc/spec/blob/master/aci/build.go#L89), it adds files in the archive with the same ownership as they are on the filesystem.

It would be useful to be able to change the ownership of files in the aci, without needing to create the aci as root. It is needed for building the stage1 of rkt, see discussion on https://github.com/coreos/rkt/issu

[2015-09-23 11:37] jellonek commented on #498
Callback deciding what to do with given patch would be most flexible.
Similar thing would be "nice to have" similar callback to decide how to set/filter object mode (to filter out or to add suid/sgid flags to part of files/directories).

[2015-09-23 14:44] mildred opened #499 "Pods should allow running other pods as applications"
Pods currently only allow running applications backed up by ACI images. This is nice, but it makes it difficult to pack complex applications in multiple containers.

Instead, if pods allowed to specify applications as a pod instance, it would be possible to pack complex applications in multi levels. First, applications requiring multiple service to run together might run as the innermost pods, and

[2015-09-24 00:31] yifan-gu commented on #276
Go back to this, trying to propose something simple and just for the stop/exit of the pod:

As I mentioned in https://github.com/coreos/rkt/pull/1407#issuecomment-140816265 , we will need the container runtime to provide several options when a pod exits:

- Pod exits when any of the apps exits (no matter what the exit codes are)
- Pod exits when all of the apps exit (no matter what the exit codes

[2015-09-24 00:43] jonboulle commented on #276
how about
- `any`
- `all`
- `anyOnFailure`

[2015-09-24 16:24] sgotti commented on #479
Few additional thoughts:

* Apossible parsing problem of that format can be caused by labels values containing a comma `,` (as label's values are define of string type). One solution will be to require commas to be escaped (in a ways to define).

* Additionally should the format use the URL escaping rules? The actual parsing function https://github.com/appc/spec/blob/master/discovery/parse.go#L49

[2015-09-25 03:33] jaypipes opened #501 ""name" and "value" keys unnecessarily verbose?"
Hi again!

Is there any particular reason why the "name" and "value" keys are used for labels, annotations, isolators, eventHandlers and environment variable lists? If those things were objects themselves, instead of lists, the ACI image schema would be much simpler and less verbose.

For instance, if you made the lists into objects for the above mentioned attributes of the image schema, you would

[2015-09-25 04:44] cdaylward commented on #501
Hmm, this has been discussed before in #58, #62, #64, and #84 and we landed on the more verbose format. To reiterate here:
It maintains that field names on the left are schema, values on the right are user values. Behavior during duplicate JSON object field names are not part of the JSON spec and may be handled differently based on the library being used...but generally an ill-formed manifest will

[2015-09-25 07:49] iaguis opened #502 "releases: ace validator ACIs are not included in new releases"
[Release v0.5.1](https://github.com/appc/spec/releases/tag/v0.5.1) included ace validator ACIs but that was the last time they were included.

Is this something we want?

[2015-09-25 11:38] n0rad commented on #415
Same here, I would like to know which version is the latest version. The current spec does not provide a way to know it.

[2015-09-25 16:38] jonboulle commented on #502
Yes, we do.

[2015-09-25 21:48] jaybuff opened #503 "actool build: Error walking rootfs: archive/tar: write too long"
If you try to output your aci into the input directory you get a very esoteric error message:

    $ actool build /tmp/build-dir-wtZCZk  /tmp/build-dir-wtZCZk/my-code-1.0-linux-amd64.aci
    build: Error walking rootfs: archive/tar: write too long

Took me a good 20 minutes to figure out the problem goes away if I write my aci to a different directory.

Note that tar doesn't suffer from this probl

[2015-09-26 02:24] yifan-gu opened #504 "spec: allow empty exec in ImageManifest.App"
Today while I am doing `rkt --insecure-skip-verify fetch docker://gcr.io/google_containers/liveness`, I got
[code]

Wonder maybe we should allow empty exec as the container runtime might override the exec.

[2015-09-27 15:35] jaypipes commented on #501
OK, that's good information, thank you. I guess I don't really see why AppC would use JSON as its file format and then allow "label names [to not be] valid JSON object member names." That doesn't make a whole lot of sense to me. Why bother using JSON at all, then, if you're just going to override what JSON means with the `parser.go` implementation? Or, put another way, what does not conforming to

[2015-09-28 21:32] jonboulle commented on #504
I am kinda on the fence about this one, so I want to push back a little: is there any way we can improve the UX here without making exec optional?

[2015-09-28 21:39] yifan-gu commented on #504
@jonboulle Only if give some default cmd when transforming the docker image to aci, like /bin/sh

But as I pointed out, if exec can be totally replace by ace, why it MUST be there at all?

[2015-09-29 00:35] jonboulle commented on #415
Does someone want to come up with a PR for #403?

[2015-09-29 08:43] NeilW opened #507 "ace validators leave db files in /tmp"
If you run the ace validator twice it will fail on the second attempt. There doesn't seem to be anything in the validator that cleans up the db files.

core@srv-qx9es ~ $ cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=815.0.0
VERSION_ID=815.0.0
BUILD_ID=
PRETTY_NAME="CoreOS 815.0.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"

core@srv

[2015-09-29 16:04] #498 closed

[2015-09-29 16:30] jonboulle commented on #507
Closing this as a dupe of #113. This should be a pretty easy fix so help would be most welcome.

[2015-09-29 16:30] #507 closed

[2015-09-29 17:55] jonboulle commented on #183
This was fixed by #449 but accidentally not closed.

[2015-09-29 17:55] #183 closed

[2015-09-30 02:47] ChengTiesheng opened #510 "spec: confused by Isolator struct"
Hi dear all,
    When I use the struct Isolator, I am a little confused by its definition. There is a member ValueRaw *json.RawMessage in the struct, but I don't know how to assign a value for it. If it is used  arbitrarily, how would appc runtime parse it?  Futhermore, when ValueRaw is used, the unit for the object is unkown, see the example as below, what is the unit for 200
"isolators": [

[2015-09-30 14:35] iaguis opened #511 "spec: supplementaryGroups or supplementaryGids?"
#339 introduced supplementary GIDs in the spec.

In [the schema](https://github.com/appc/spec/blob/e040d35a7bb35a343f04c0f022a669968699d06a/spec/aci.md#image-manifest-schema) they are called "supplementaryGids" but the [app parser](https://github.com/appc/spec/blob/e040d35a7bb35a343f04c0f022a669968699d06a/schema/types/app.go#L29) expects them to be called "supplementaryGroups".

[2015-09-30 16:40] jonboulle commented on #511
Mea culpa. In this case the code reflects my intention: `supplementaryGroups`, not `supplementaryGids`.

@vbatts @philips @krobertson @mpasternacki any objection to standardising on `groups`?

[2015-09-30 17:58] eyakubovich opened #512 "Provide a way to describe which ports on the host the container can access"
The pod manifest should be able to describe which ports on the host the container is allowed to access.

Open Questions:
1. Should this also be specified (optionally) in the image manifest?
2. What is the default policy (allow all or deny all)

[2015-09-30 21:12] jonboulle commented on #276
/cc @dchen1107

[2015-09-30 23:26] yifan-gu commented on #276
@dchen1107 Followed PR and discussion is in https://github.com/appc/spec/pull/500

[2015-10-01 05:42] jonboulle commented on #504
You could make that argument about literally every required parameter since ultimately they can all be overridden by the executor

[2015-10-01 05:45] jonboulle commented on #504
@vbatts @philips ?

[2015-10-01 05:55] jonboulle commented on #499
This is kind of an interesting idea but very underdefined and raises a tonne of questions. For example, what namespaces are shared between the top-level pods? Can isolators be applied at every level? How many levels of nesting are allowed? What about pod lifecycle? (#276)

[2015-10-01 13:48] vbatts commented on #504
even when i've run into this, it seemed like a UI/UX issue, not a spec issue.

[2015-10-01 14:28] iaguis commented on #479
Related #514

[2015-10-01 17:31] philips commented on #511
@jonboulle groups is a string and supplementaryGroups is a int. Sort of inconsistent.

[2015-10-01 17:43] jonboulle commented on #479
I think we should probably just bite the bullet and put this somewhere in the spec but I'm not sure where. @sgotti any ideas?

[2015-10-01 17:44] philips commented on #511
I am OK breaking the spec and saying Groups is always an int. This string or int issue is too annoying and never right so we should only put ints in the spec IMHO.

[2015-10-01 17:46] jonboulle commented on #511
Right, I think we should just keep it as ints, but the question is what to call it. I have changed my mind on my previous comment and I think we should go with Gids.

[2015-10-01 17:48] philips commented on #504
I am sort of OK with an empty exec if we consider the use case of "manifest only" ACIs. Where I have say a syslog-tcp and syslog-tls that both rely on the same underlying layer but that layer has no exec and instead requires one of those two containers to be used.

In general though I feel that ACIs should map directly to an app but I don't see any reason not to allow for the flexibility and just

[2015-10-01 17:50] philips commented on #511
@jonboulle GIDs it is. +1

[2015-10-01 17:52] vbatts commented on #511
ints are more definite. string names would be arbitrary and still needing to be resolved.

:+1: to GIDs

[2015-10-01 17:53] jonboulle commented on #511
Action is in #516 friends

[2015-10-01 17:57] jonboulle commented on #504
@vbatts can you elaborate?

[2015-10-01 19:25] jonboulle commented on #501
I'm a bit confused by @cdaylward's point here, as I don't know of cases where label names are invalid member names.

As justification for this schema I would lean more on his other points with respect to the field name/user value split.

[2015-10-01 21:03] jonboulle commented on #480
Hey @gyuho , I'm going to close you out and point you in the direction of the soon-to-land acbuild: appc/acbuild#11 . It should make the build process much more straightforward for you, and if it doesn't cover your use case we'd love to hear your back there :-)

[2015-10-01 21:03] #480 closed

[2015-10-02 03:40] gyuho commented on #480
@jonboulle thanks for keeping me updated on this. I will definitely try accbuild and come back to this if I still have any issue. Thanks!

[2015-10-02 17:40] #511 closed

[2015-10-02 17:56] jonboulle commented on #512
@eyakubovich why should this be defined in the spec? Suddenly we're moving into the area of granular policy enforcement?

[2015-10-02 17:59] jonboulle commented on #502
Done @ https://github.com/appc/spec/releases/tag/v0.5.1

[2015-10-02 17:59] #502 closed

[2015-10-03 00:22] jonboulle commented on #510
I agree that this struct is too complex and I would also like to see it made easier to use. The idea of the RawMessage is to (in principle) facilitate the addition of new isolator types, since the spec defines the type as being of arbitrary value: https://github.com/appc/spec/blob/master/spec/types.md#isolator-type

Currently the only way to instantiate an isolator is by unmarshalling a string. Se

[2015-10-03 00:24] jonboulle commented on #510
You can see an example of how we work around this right now in rkt: https://github.com/coreos/rkt/blob/d6c8a33f04a28795e623bfb2b2bc245fb921763f/tests/rkt_run_pod_manifest_test.go#L345

[2015-10-05 14:35] vbatts commented on #504
I had not really contemplated the case of a container that did not need an exec. Despite dependencies, I was thinking of the resulting executable runtime. With this in mind, perhaps having a strict requirement on a manifest having an exec specified is too strict.

The UI/UX concern was just when importing from another image that did not itself have a command, it just seemed like a flag should be p

[2015-10-06 00:00] yifan-gu commented on #504
The pro for allowing empty exec in this case is we don't need to have two images on the disk which just differ at exec.

[2015-10-06 03:16] ChengTiesheng commented on #510
@jonboulle Got it, thanks so much for your detailed reply.

[2015-10-06 08:26] iaguis opened #519 "*: missing v0.7.1 tag"
appc/spec v0.7.1 [was released](https://github.com/appc/spec/pull/518) but its tag was not pushed.

[2015-10-06 13:26] vbatts commented on #519
fixed it. https://github.com/appc/spec/releases/tag/v0.7.1

[2015-10-06 13:26] #519 closed

[2015-10-06 13:31] iaguis commented on #519
Thanks!

[2015-10-06 17:41] jonboulle commented on #479
also #520

[2015-10-08 09:30] #493 closed

[2015-10-08 16:21] sgotti commented on #479
@jonboulle mmm. Given that it's not a foundamental part of the spec but it's coded inside the reference go implementation and used by rkt and probably other future project perhaps something in an "extra" directory like suggested by you sounds good.

About the actual format another unresolved problem is the clash with other schemeless formats like filenames: coreos/rkt#715

[2015-10-08 17:38] jonboulle commented on #268
Fixed by #517

[2015-10-08 17:38] #268 closed

[2015-10-08 21:17] jonboulle commented on #504
#505

[2015-10-08 21:17] #504 closed

[2015-10-09 09:51] iaguis opened #526 "spec: clarify empty volume permissions"
Capturing a comment by @alban (coreos/rkt#1523)

Perhaps something like:

[code]

With some sane defaults.

[2015-10-09 20:18] jonboulle commented on #526
How do you suggest the user/group fields here be interpreted?

[2015-10-12 12:49] alban commented on #526
I would suggest that the user/group fields here can only be numerical.

There is another section of the spec that has user/group fields: in the [Image Manifest](https://github.com/appc/spec/blob/master/spec/aci.md#image-manifest-schema):

However, we can't do the same thing here: the volumes are defined in the [Pod Manifest](https://github.com/appc/spec/blob/master/spec/pods.md#pod-manifest-schema

[2015-10-12 12:54] iaguis commented on #526
I agree :+1:

[2015-10-12 16:08] blalor commented on #418
Why does appc need this functionality? I haven't seen the rationalization in the doc nor here.

[2015-10-12 18:05] jonboulle commented on #526
Seems reasonable, but do you really intend for the user/group fields to be strings in that case - why not ints?

[2015-10-12 18:36] iaguis commented on #526
Yeah, since they're gonna be uid/gid, ints make more sense.

[2015-10-15 14:43] jonboulle opened #529 "spec: add seccomp isolator for Linux"
It would be nice to expose seccomp isolators to allow apps/pods running on Linux to restrict the permitted set of system calls.

http://man7.org/linux/man-pages/man2/seccomp.2.html
https://en.wikipedia.org/wiki/Seccomp

[2015-10-19 10:38] alban opened #530 "releases should include actool / add a release guide"
Some [appc/spec releases](https://github.com/appc/spec/releases) contain a tarball that includes `actool` compiled, some don't. Releases should consistently provide it.

appc/spec should have a release guide to list the necessary steps to do a release.

This was first reported on https://github.com/coreos/rkt/issues/1626.

[2015-10-19 16:38] jonboulle commented on #530
We have `scripts/build-release`, it just didn't get used /cc @vbatts
I've updated the latest release.

[2015-10-19 16:38] #530 closed

[2015-10-23 03:48] jaybuff opened #531 "pod manifests should allow setting environment variables"
https://github.com/appc/spec/blob/master/spec/pods.md doesn't mention setting environment variables for apps.  That said, rkt seems to support it.

[2015-10-23 15:24] alban commented on #530
[rkt documentation (app-container.md)](https://github.com/coreos/rkt/blob/master/Documentation/app-container.md#validating-rkt-as-an-appc-implementation) expects to find:
- https://github.com/appc/spec/releases/download/$VERSION/ace-validator-main.aci
- https://github.com/appc/spec/releases/download/$VERSION/ace-validator-sidekick.aci

But `scripts/build-release` does not upload those and the last

[2015-10-23 20:20] jonboulle commented on #531
and

How can we make this clearer?

[2015-10-23 20:43] jaybuff commented on #531
It's already clear.  I was being lazy/tired.  I did find in my browser on pods.md and looked for environment and gave up.

[2015-10-23 20:43] #531 closed

[2015-10-23 20:44] jonboulle commented on #531
to be clear, I'm not being passive-aggressive, this has been raised before as something nonobvious, so would love to know how to improve it..

[2015-10-23 20:47] jaybuff commented on #531
You could copy and paste the entire app section from the image manifest under this section:

But then you have the problem of maintaining the two lists.

[2015-10-26 17:42] jonboulle commented on #418
@blalor The simplest argument would be one of symmetry - if we describe a means for discovery retrieval it would also be good to have the inverse. This helps close the loop for distributing appc images (but still without prescribing means of transport, etc).

At a more practical level, we need something that works for Quay -- but we think it can be more generally useful.

Having said that, this is

[2015-10-29 00:35] vcaputo opened #533 "actool position-sensitive arguments and error messages confusing"
e.g.
[code]

[2015-11-11 16:50] hwinkel opened #536 "Content of the Image"
Is there already a specification specifies the content of a given image? I.e. software versions included in the image or packages the image is constructed from?

[2015-11-13 02:11] jonboulle commented on #536
An example might be helpful. But if I'm understanding your question correctly, the answer is no - there's not a prescribed way of annotating how the image was constructed. This is sort of necessarily so because the spec is intentionally agnostic on how images are constructed.

We would expect people building images to use the `annotations` field for this purpose. For example, you can imagine that

[2015-11-15 00:33] steveeJ opened #537 "App lifecycle management: add support for periodic task definitions"
I couldn't identify this problem in any other of the lifecycle open issues.

Polling still exists nowadays and it would be handy to have periodic app support in the spec.

I imagine this so that one can define what happens to an application on what exit codes.
At least the following information is necessary for a correct implementation of this feature:
* Interval
* Whether or not to reschedule on

[2015-11-16 23:33] jonboulle commented on #537
Can you give some use cases? Why should this be handled by the pod lifecycle rather than within the app itself?

This is tightly related to #276

[2015-11-17 09:12] alban opened #538 "dependency order unclear"
[appc/spec](https://github.com/appc/spec/blob/master/spec/aci.md#image-manifest) says:

It is not really clear how it works. In https://github.com/coreos/rkt/issues/1752, we have this example of dependencies:

A->B
A->C
A->D

C->B
C->E

D->B
D->E

If we flatten the tree, depth-first, we get the list: A, B, C, E, D. If we flatten the tree, breadth-first, we get the list: A, B, C, D, E. When a file

[2015-11-17 16:50] steveeJ commented on #537
This is for applications that don't support re-scheduling themselves because they are not daemons and don't come with one, and which you would typically put into your crontab.
Possibly and by far not complete list of examples:
* process/collect stats
* poll mails
* run garbage collection

[2015-11-17 16:55] jonboulle commented on #537
OK, but so far it's unclear why this shouldn't be handled at a higher level
by an orchestration layer or init system.

Stefan Junker <notifications@github.com> schrieb am Di., 17. Nov. 2015
08:50:

[2015-11-17 17:27] steveeJ commented on #537
AFAIK an orchestration layer or an init system is not a specification for a pod. I think that the pod spec is where this belongs along with other metrics about my applications which are already there. Why would I want to split up this information?

[2015-11-17 18:11] jonboulle commented on #537
The pod lifecycle can rapidly become arbitrarily complex, so thus far we've
tried to set a very high barrier for adding different inter-process
dependencies or features like this.

On Tue, Nov 17, 2015 at 9:27 AM, Stefan Junker <notifications@github.com>
wrote:

[2015-11-17 18:24] jonboulle commented on #538
I think it's a little worse than that in that we don't really discuss recursive dependencies at all
https://github.com/appc/spec/blob/master/spec/ace.md#filesystem-setup

Would you mind putting together a proposal to clarify?

[2015-11-18 01:53] jonboulle commented on #530
done

[2015-11-18 01:56] #526 closed

[2015-11-18 19:26] #465 closed

[2015-11-18 21:58] cgonyeo opened #539 "spec: implement path blacklist, and change path (white|black)list semantics"
I'd like to talk about the path whitelist, and how it could be changed to make implementing things like acbuild easier. It appears that the reason it exists is to allow layers to "delete" files from layers below them.

With the way the path whitelist is currently defined, if acbuild is used to modify an image without a whitelist and add a dependency with a whitelist, acbuild must fetch all other d

[2015-11-18 22:00] dgonyeo commented on #539
I mostly want my second suggestion, where the list is evaluated at every layer. The blacklist would just be a nicety (and having an optional blacklist alongside the whitelist would be fine with me).

[2015-11-20 10:29] alban commented on #530
Thanks!

[2015-11-26 14:13] alban opened #542 ""actool patch-manifest --capability" broken in v0.7.2"
`actool patch-manifest` breaks the ACI in version v0.7.2. To reproduce:

[code]

It generates the following broken manifest:
[code]

It should have generated the following:
[code]
But the set is empty instead of containing `CAP_NET_ADMIN`.

I suspect it is a regression from https://github.com/appc/spec/pull/517. When adding debugging code in [AsIsolator](https://github.com/appc/spec/blob/master/sc

[2015-11-26 18:45] #542 closed

[2015-11-30 08:25] ChengTiesheng commented on #510
Resolved, thanks so much.

[2015-11-30 08:25] #510 closed

[2015-11-30 11:52] krnowak opened #545 "Make insecure flag in discovery granular"
In the beginning `insecure` only meant "I want to perform discovery over HTTP if HTTPS didn't work". But right now it means "I want to perform discovery over HTTP if HTTPS didn't work and I even want to send my credentials over HTTP". These meaning should be split.

The functions with `insecure` flag are `discovery.DiscoverPublicKeys`, `discovery.DiscoverEndpoints` and `discovery.DiscoverWalk`. I

[2015-11-30 15:42] alban opened #546 "schema.types: add constructors for types.Volume: NewEmptyVolume"
Reported on https://github.com/coreos/rkt/pull/1808#issuecomment-160224589:

(this is following up https://github.com/appc/spec/pull/541)

[2015-12-01 19:40] geekgonecrazy commented on #3
Any more thoughts on doing it using TXT?  This has been stale for a while.  I'd love to see this implemented.

[2015-12-01 21:15] krobertson opened #549 "ACE: Loading group membership?"
Currently, the ACI specifies handling for an image to specify the user, group, and supplemental GIDs to use. However one discussion we had was whether group membership in `/etc/groups` should be automatically picked up from the filesystem. If the user/UID specified matches a valid user, then in addition to the explicit supplemental GIDs, should the groups the user is a member of also be loaded in?

[2015-12-01 22:27] zquestz commented on #549
This seems like a good pattern to me. Ideally if I load an OS which contains /etc/groups I would expect that group to be respected by the container runtime.

[2015-12-02 16:12] alban commented on #545
I would like an `insecure` flag to allow https with invalid certificates. Right now, it is not possible to use https with invalid certificate even if `insecure=true`. That would be useful for some tests such as https://github.com/coreos/rkt/pull/1822.

So we'd need several flags:
- `insecureTls`: don't check certificates
- `insecureHttp`: allow fallback on http
- maybe: `insecureCredentials`: allo

[2015-12-02 19:12] krobertson commented on #549
@jonboulle have any thoughts?

[2015-12-05 02:31] jonboulle commented on #549
Seems reasonable, put up a PR and we can thrash out there?

[2015-12-07 16:48] alban opened #552 "schema.types: add constructors for Isolator from types.ResourceMemory or types.ResourceCPU"
https://github.com/appc/spec/pull/517 added functions `AsIsolator()` to `types.LinuxCapabilitiesRetainSet` and `types.LinuxCapabilitiesRevokeSet` but appc/spec still does not have constructors to build a `types.Isolator` from a `types.ResourceMemory` or `types.ResourceCPU`.

I would need one for https://github.com/coreos/rkt/issues/1735.

[2015-12-07 17:07] alban commented on #552
I am not sure of the correct approach. I started to experiment on https://github.com/kinvolk/rkt/commit/6e4858502e53bdc5b6103ff83ed90729e295c3a1.

[2015-12-07 18:19] jonboulle commented on #552
For symmetry how about adding `AsIsolator` to those other types as well?

[2015-12-08 17:35] alban commented on #552
@jonboulle ok for `AsIsolator` :)

#553

[2015-12-08 18:52] #552 closed

[2015-12-09 03:43] jonboulle commented on #3
This is still on the cards as something we might consider implementing, but
work on discovery is a little stalled right now as we figure out the next
steps for appc + cncf.

On Tue, Dec 1, 2015 at 11:40 AM, Aaron Ogle <notifications@github.com>
wrote:

[2015-12-09 05:31] geekgonecrazy commented on #3
@jonboulle perfect.  I'll stay tuned.  Thanks for the update!

[2015-12-14 17:15] runningwild commented on #391
Currently because ReadOnly is a *bool (in types.Volume) if you try to json.Unmarshal something that doesn't specify the ReadOnly you get some comical nonsense like this (note the PANIC inside of it):

[code]

which leads to some confusing bugs.  There hasn't been any discussion on this in quite a while, but should we pick a default so we can depointerify it?  Alternatively I can just manually chec

[2015-12-15 00:50] jonboulle commented on #391
@runningwild I am pretty sure that was fixed via https://github.com/appc/spec/pull/541 - mind giving 0.7.2 a try?

[2015-12-15 02:24] runningwild commented on #391
Yes you're right, I hadn't updated in a while I guess, my mistake.

[2015-12-21 18:46] pbx0 opened #557 "Image Discovery: Need method to discover available version tags"
I think it would be desirable to have the ability to discover the available version tags of an appc image name. If there is a discoverable (and signed) manifest that lists the versions and respective hashes it allows a fairly wide variety of client update strategies and remains a static asset that can be updated when someone pushes a new aci.

In my use case, I am running an kubelet aci, I know th

[2015-12-25 22:35] #16 closed

[2015-12-27 21:17] jonboulle commented on #539
Why not just add blacklists as optional, as discussed in #323, implementing the semantics you're talking about - then there's no need to touch whitelists as they are today, right?

[2016-01-07 14:25] blixtra commented on #545
What's the status of the `insecureCredentials`? Is this deemed worth having?

[2016-01-07 17:13] jonboulle commented on #545
Do we have a use case? Would someone want one but not the other?

[2016-01-08 09:40] blixtra commented on #545
IMO, we should just go with insecureHTTP. I would assume that if one uses insecureHTTP then one knows secrets may be sent in the clear and is ok with that.

[2016-01-08 10:19] jonboulle commented on #545
Seems reasonable to me.

Chris Kühl <notifications@github.com> schrieb am Fr., 8. Jan. 2016 10:40:

[2016-01-08 12:14] blixtra commented on #545
Is it fair to close this then?

[2016-01-08 13:54] #545 closed

[2016-01-11 08:00] MabinGo opened #560 "Some questions about ACI push spec"
I have implemented server to support rkt fetch&push that is following the ACI push spec,but I got some questions as below,
1.Is it necessary to validate ACI manifest in the server?
  As ACI push spec said,when rkt push ACI to server,it would upload manifest,aci file and asc file,then as we know,there is also a manifest be compressed in aci file,so,
    1) whether to validate these two manifests to

[2016-01-15 16:12] alban commented on #557
ping?

[2016-01-18 12:23] alban commented on #560
/cc @dgonyeo

[2016-01-22 10:25] oleastre commented on #160
Like others, I just came to this issue after trying to understand the discovery process.
While using html meta tags for the discovery have some advantages, it requires a dedicated html page for each image (with a dedicated url that can conflicts with your website content).

So, having site wide meta information will probably be more scalable and easier to put in place.

In that perspective, .well-

[2016-01-27 16:16] dgonyeo commented on #560
So sorry about the delay on this, I was unable to do very much work over the past couple of weeks.

1. It is not necessary for the server to validate the ACI manifest. It's provided separately from the ACI so that the server can know things about the ACI without performing the expensive operation of decompressing and digging around in the ACI to get it.

1) The server is welcome to validate the tw

[2016-01-29 08:01] yifan-gu opened #562 "NewResourceCPUIsolator/NewResourceMemoryIsolator fails if 'request' or 'limit' is empty"
@sjpotter This is the cause of the errors when creating a pod that has only request or limit.
Not sure we should fix this in the spec or in rktnetes.

cc @jonboulle

[2016-01-29 11:21] jonboulle commented on #562
#484

[2016-01-29 11:53] jonboulle commented on #562
@yifan-gu @sjpotter what's the desired experience here?

[2016-01-29 18:06] yifan-gu commented on #562
@jonboulle Jumped in the rkt code, seems for now only the Limit is being used? https://github.com/coreos/rkt/blob/master/stage1/init/common/pod.go#L336-L342

IMO, the desired experience would be this https://github.com/kubernetes/kubernetes/pull/14173

I can fixed in the rktnetes code for now.

[2016-02-01 15:47] alban commented on #562
@yifan-gu Exact, rkt only use the Limit now...

It is not clear to me what is the semantic of Limit and Request. For example, with CPUShares, the value is relative to the values of other containers in the same slice. It does not really match the explanation given in the [resource/cpu](https://github.com/appc/spec/blob/master/spec/ace.md#resourcecpu) documentation.

Kubernetes seems to only care ab

[2016-02-03 01:10] MabinGo commented on #560
OK,Thanks.
BTW, is it necessary to clear this in ACI push spec?

[2016-02-03 19:22] philips commented on #160
We discussed well-known to a large degree in the past. I am not opposed to
adding it to the spec if someone wants to do the work.

The two reasons we didn't end up using the well-known in the past:

1) We were inspired by the Go spec on this which is very similar with meta
tags

2) The number of well-known users at the time we started appc was small and
didn't seem to be growing. Notice that only

[2016-02-08 14:37] jonboulle commented on #562
@alban in rkt we use CPUQuota, not CPUShares:

          Assign the specified CPU time quota to the processes executed. Takes a percentage value, suffixed with
           "%". The percentage specifies how much CPU time the unit shall get at maximum, relative to the total CPU
           time available on one CPU. Use values > 100% for allotting CPU time on more than one CPU. This controls

[2016-02-08 14:39] jonboulle commented on #562
@yifan-gu I am not really sure what you want here - new constructors? e.g. `NewLimitOnlyResourceCPUIsolator`? I don't think it makes much sense to change the signature of these ones

[2016-02-09 07:10] yifan-gu commented on #562
@jonboulle We don't need to change the name or signature of the function. Do you think https://github.com/appc/spec/pull/566 is reasonable?

[2016-02-11 14:47] n0rad opened #567 "Support push & discovery of PODs"
PODs define a group of ACIs working together as a unit, and so we are building with [cnt](https://github.com/blablacar/cnt) a list of ACI and a POD manifest defining this unit.

For a single ACI there is a mechanism to push (#418) and to discover versions but there is nothing around doing it with PODs.

To get around this at BlaBlaCar, we are pushing pod's ACI and pod manifest to our repository, w

[2016-02-17 14:05] jonboulle commented on #560
@MabinGo perhaps you could submit a clarification?

[2016-02-18 23:09] dghubble opened #570 "spec: discovery of ACI signing key revocations"
The [discovery spec](https://github.com/appc/spec/blob/master/spec/discovery.md) specifies mechanisms for discovering ACIs and public keys, which allows implementations (`rkt` and the like) to present users with choices about adding those keys to a trust store of some sort to gate ACI execution.

It could be valuable to specify a mechanism to distribute (discover) key revocation certificates to al

[2016-02-19 00:03] philips commented on #570
Yes, I think we should do this.

[2016-02-26 03:37] nponeccop opened #571 "GOARCH is '386' and not 'i386'"
Apparently `runtime.GOARCH` value is put into image metadata when building images (it's `"386"` on 32-bit x86 systems). However, during validation `"i386"` is used (with an extra `i`).

[2016-02-26 05:55] sjpotter opened #572 "need way to specify hostname (pod name?)"
k8s requires that the pod name be set to the hostname for the uts namespace, we don't seem to have any ability to do that today.

k8s truncates the pod name to 63 characters

https://github.com/kubernetes/kubernetes/issues/4825

We won't be able to pass e2e tests until this is fixed.

[2016-02-29 15:52] jonboulle commented on #572
Why is this a spec issue? Strikes me this is just a requirement that rkt needs to fulfil.

[2016-02-29 15:54] sjpotter commented on #572
Spec doesnt define what hostname should be inside the running pod.  I
figured it should.  I.e. rkt can do it but some other implementations
wouldnt know to do it too.
On Feb 29, 2016 7:52 AM, "Jonathan Boulle" <notifications@github.com> wrote:

[2016-02-29 15:58] jonboulle commented on #572
The spec just says all apps in the pod need to share a hostname, and I'm
not convinced it needs to say anything more than that, at least not
prescriptively.

If you want to add some wording to provide suggestions/examples of what
implementations should do, then by all means go ahead; but I don't see
anything in the current wording that directly blocks the rkt/kubernetes
issue?

On Mon, Feb 29, 201

[2016-02-29 18:33] jonboulle commented on #571
Sigh, this is an unfortunate side effect of https://github.com/appc/spec/commit/41fc66c7d807725c546553039930986cd2777e70 and is probably going to bite us with other combinations too. Any bright ideas here, aside from aliasing a bunch of combinations?  /cc @mpasternacki

[2016-02-29 19:44] nponeccop commented on #571
Well, I actually built 32-bit `appc` on a 32-bit box. So reproduction isn't directly related to the commit. I think operation on `386` is not supported now, but it might be supported in the future.

[2016-03-02 11:50] ppalucki commented on #144
I see it is still open issue. Can some elaborate what is a status of that.

I can see in [pod spec](https://github.com/appc/spec/blame/master/spec/pods.md#L175) that voulme  kind:
[code]

on the other side [ace spec](https://github.com/appc/spec/blame/bf62629280885e8c739e95401b7582739bb7b2bf/spec/ace.md#L68) says:
[code]
(pointed by @iaguis)

we missed that when implementing kvm flavor in rkt and

[2016-03-02 13:56] jonboulle commented on #144
@ppalucki Looks to me like we should scrap the word "directory" from that line in the pod spec. Feel like submitting a patch? Then we'd want to adjust the KVM flavour accordingly.

[2016-03-02 14:39] woodbor commented on #144
Looks like the root of https://github.com/kubernetes/kubernetes/pull/16052 was https://github.com/docker/docker/pull/14613.

[2016-03-08 06:01] brianredbeard commented on #160
Following up on this I think a combination of `SRV` record which can specify the _location_ of the server from which a `GET /.well-know/ac-discovery` call would work should be a sufficient combination which follows relevant RFCs, is extensible enough to be used by a large number of operators, and would support failover nicely.  I would foresee a record of the form:

[code]

[2016-03-15 16:09] krobertson opened #573 "ACE/ACI shutdown guidelines?"
Was reviewing the teardown handling in kurma and was wondering if some guidelines should be added around signals to shutdown apps/pods.

A reasonable guideline would likely be the [Kubernetes definition](http://kubernetes.io/docs/user-guide/pods/#termination-of-pods) of a `TERM`, followed by a grace period, and a `KILL` if the period expires.

[2016-03-16 12:56] jonboulle commented on #573
Seems reasonable - wanna put up a PR?
/cc @alban @iaguis for rkt/systemd impl.

[2016-03-17 05:08] krobertson commented on #573
Will do.

[2016-03-20 17:43] sgotti opened #575 "[RFC] Define in the spec (or remove from code) that discovery will set version to "latest" if no version is requested"
Actually the spec, in the discovery section, doesn't specify that, if not version is provided, it'll do discovery providing a default version as "latest". But the appc/spec code does this.

This is used for implementing the "latest" pattern. So someone could just define a single template like `https://{name}-{version}.{ext}` and, if an user just requires "myaci" it will use:

`https://myaci-latest

[2016-03-20 21:10] sgotti commented on #60
Since some time has passed I tried to update this issue opening a new discussion and proposal in #575.

[2016-03-22 16:03] jonboulle commented on #571
Sort of - check out some historical discussion [here](https://github.com/appc/spec/issues/6). We are not strictly using Go's concepts for these values (at the very least since the spec should be language-agnostic)

I am not really sure what to do here aside from removing the whitelist entirely.
@mpasternacki any bright ideas?

[2016-03-22 16:19] nponeccop commented on #571
The removal of the whitelist looks good. The architecture is commonly called `i686`, as many post-386 instructions are widely used these days. And the technically correct name (which nobody uses) is IA-32.

However, `appc` still needs a way to recognize incompatible images, so standard names of popular architectures should be in the standard document and recognized by everybody, I think.

[2016-03-22 17:38] jzelinskie opened #579 "actool validate does not return context for failures"
When debugging an ACI, it would be extremely useful to see the line number or field for the error in the manifest along with the error. Currently, I'm debugging a manifest and the error I get is as follows: ```img.tar.gz: error validating: image manifest validation failed: ACName must contain only lower case alphanumeric characters plus "-"```. I now know that one of the fields which is supposed t

[2016-03-23 10:17] sgotti commented on #575
Since I find the second proposal cleaner I went ahead and tried to implement it. This also showed me some additional "problems" so I opened 2 PRs for doing this #580 #581 (and also found other related problems in rkt: coreos/rkt#2311 coreos/rkt#2317).

IMHO this is cleaner than documenting an hidded "latest" behavior and can open the SPEC to some meta discovery implementations that currently will

[2016-03-23 11:24] mpasternacki commented on #575
The "latest" part always felt like a provisional solution to a real need. Provisional, because it overloads an actual label as a "tag" used only in discovery URL; the version label in the image manifest will be different than what was used to download. Actual need, because it's obviously useful to download the latest version. I'd even go further and say that it's very limiting to only have one "la

[2016-03-23 12:36] sgotti commented on #575
I completely agree with you.

I really like you proposal. It's fair enough to help ACI servers to dynamically generate this map.

This will also probably fix open issues like: #557 #415 coreos/rkt#2305 and probably many others.

In #580 #581 I tried to implement the "latest" behaviour using only pure meta tags. But this led me to the need to change the actual template matching behaviour making it

[2016-03-23 17:53] krobertson opened #582 "Document best practices for version label usage?"
Wanted to have a short discussion on what some thoughts were about "best practices" for version label usage in ACI images.

In the spec, `version` is just a label, and label values are just strings. However, the version label is also a special one in that it plays a more prominent role in the discovery process than other labels.

In particular, looking at version settings and practices around pref

[2016-03-25 14:36] sgotti commented on #582
@krobertson If you leave the version label as any other label (free from string) then you can do any suggestion but it'll remain a suggestion. There'll be no implications on the discovery logic or some implied behaviours. An user can continue to use anything.

If you make it special and enforce its usage (for example semver type) then you should also defines the impact that this will have on the c

[2016-03-28 18:43] #538 closed

[2016-03-31 17:04] iaguis opened #587 "appc/spec is not go-gettable"
[code]

[2016-03-31 17:58] sgotti commented on #587
Introduced in #578

What about dropping go compiler < 1.5 support and start using golang vendoring?

It's default for latest godep. I also started using glide with flattened vendor tree since it support semver and other goodies. I explained my workflow, pro and cons here (updated in the latest comment) appc/acbuild#186

[2016-03-31 21:20] yifan-gu opened #588 "Allow capitalized letters in ACIdentifier/ACName type?"
Currently, the ACIdentifier(https://github.com/appc/spec/blob/master/spec/types.md#ac-identifier-type) and ACName(https://github.com/appc/spec/blob/master/spec/types.md#ac-name-type) are more strict than the RFCs, as they don't allow upper-case letters as we made the rule based on k8s's DNS_LABEL types.
However, both RFCs they based allow upper-case letters, so I don't know why we should not allow

[2016-04-01 08:10] steveeJ commented on #587
The problem is that github.com/camlistore/camlistore/pkg/errorutil is not available anymore. I'm not sure why godep doesn't use the stored revision though, which should definitely still have that path.

[2016-04-01 08:22] iaguis commented on #587
https://github.com/camlistore/go4/pull/15

[2016-04-01 10:08] #587 closed

[2016-04-02 06:29] thockin commented on #588
We made a choice to exclude uppercase letters in names for simplicity (well
before Docker did theirs).  Changing it now is a somewhat incompatible API
change (imagine an older kubectl and a newer apiserver, `kubectl edit` can
read an uppercase, and try to submit it but fail because it does
client-side validation.  Buggy as that is, it is real.

I don't think "be compatible with people who violate

[2016-04-04 17:18] yujuhong commented on #588
We are already fixing https://github.com/kubernetes/kubernetes/issues/23706 in  https://github.com/kubernetes/kubernetes/pull/23725 by switching all labels to lowercase letters, so there is not much to gain for appc to make the change.

[2016-04-04 17:19] #588 closed

[2016-04-07 13:48] alban opened #592 ""actool discover" accepts non existing images"
The image "coreos.com/etcd-etcd-etcd-etcd:v2.0.10" is not supposed to exist, but `actool discover` finds it anyway by truncating the name:

[code]

As a consequence, rkt can run it:
[code]

[2016-04-12 13:05] jonboulle commented on #592
@alban what happens without `--insecure-options=image`?

[2016-04-12 13:09] alban commented on #592
@jonboulle it gives the following error:

[code]

[2016-04-20 07:39] s-urbaniak opened #597 "Many (most?) public methods/types/const have no godocs, are undocumented."
Currently many public methods/types/const don't have any godoc comments, a prominent example being the pod manifest itself, https://github.com/appc/spec/blob/master/schema/pod.go#L30.

We do have the spec itself but providing a library we should have good godoc comments.

[2016-04-26 15:13] alban opened #598 "Define a default capability set for apps"
appc/spec defines the following [Linux isolators](https://github.com/appc/spec/blob/master/spec/ace.md#linux-isolators):
- os/linux/capabilities-remove-set: list of capabilities that will be removed from the process's capabilities bounding set, all others will be included
- os/linux/capabilities-retain-set: list of capabilities that will be retained in the process's capabilities bounding set, all

[2016-04-27 17:53] dgonyeo opened #599 "spec: allow specifying uid/gid/mode of mount points"
@omkensey wants to be able to specify the uid:gid owner of a mount point and its mode. Setting a pre-start event handler to chown the directory after an ACE has mounted the volume is insufficient, as the user that command runs under may not have the necessary permissions.

Here's the acbuild issue asking for this: https://github.com/appc/acbuild/issues/194

[2016-04-28 15:18] jonboulle commented on #598
wanna put up a PR?

On Tue, Apr 26, 2016 at 5:13 PM, Alban Crequy <notifications@github.com>
wrote:

[2016-05-03 15:35] n0rad commented on #316
just hit this issue and I see no workaround.
trying to start cassandra (that auto create data sub-directories) as user cassandra.

In dev/tests, I don't want to specify a mount point but the container cannot start since the mount dir belong to root.

If I pre-create directories and give ownership to the aci, since the root directory is a mount-point, when started, I only have an empty directory be

[2016-05-04 13:58] alban commented on #598
Yes: https://github.com/appc/spec/pull/600

[2016-05-06 09:38] #598 closed

[2016-05-12 10:43] #245 closed

[2016-05-23 13:45] alban opened #609 "HTTP_PROXY support broken by --insecure-options=all"
Capturing https://github.com/coreos/rkt/issues/2590#issuecomment-220983720:

[2016-05-23 13:52] jonboulle commented on #609
but why? It should be a straight copy...

[2016-05-23 13:52] jonboulle commented on #609
I mean tInsecureTLS is a copy of t after the Proxy func has been set.

[2016-05-23 18:39] jellonek commented on #609
Exactly as in https://github.com/coreos/rkt/pull/2354

[2016-05-23 19:41] tdavis opened #610 "spec: discovery URIs are vague as to required variables"
The discovery spec states how URI templates must be interpolated:

The specification is vague on whether or not those particular variables are required in the template; aside from *name* they are optional labels for a manifest. It also doesn't specify whether or not other arbitrary labels may be used in the template.

[2016-05-26 12:55] steveeJ opened #619 "build/test: fail on Go1 .5"
Go 1.5 needs the environment flag `GO15VENDOREXPERIMENT=1` set to detect the deps in the _vendor/_ directory. Ideally it would be done dynamically, but could just be added to the scripts statically too.

/cc @jonboulle

[2016-05-26 15:38] jonboulle commented on #610
See #596

[2016-05-27 13:51] jonboulle commented on #609
@jellonek can you elaborate? I don't understand what's going on here

[2016-05-27 17:02] jellonek commented on #609
Instead of updating `Transport` in `http.DefaultClient`, there is constructed new `http.Client` which does not have proxy support (but `http.DefaultClient` have it).

@krnowak am I correct?

[2016-05-29 23:13] tdavis commented on #610
Closing as duplicate of #596, thanks for the link!

[2016-05-29 23:13] #610 closed

[2016-05-31 11:50] krnowak commented on #609
@jell: The proxy support is in transport itself, see https://golang.org/src/net/http/transport.go#L33 (the `Proxy` member of the transport). So in this case, the `tInsecureTLS` variable should ideally be a copy of `http.DefaultTransport` with its `TLSClientConfig` updated to have the `InsecureSkipVerify` field set to true.

I'm not entirely sure if this is the case here, because we set the `Proxy`

[2016-05-31 11:52] jellonek commented on #609
ACK

[2016-05-31 11:59] Jell commented on #609
@jell => @jellonek :) cheers

[2016-05-31 13:01] jellonek commented on #609
Sry for inconvenience, i'm using this nickname (as a shortcut for this older one, longer one) on IRC.

[2016-05-31 18:09] alban commented on #529
Should we make use of the syscall groups on those issues?
- https://github.com/systemd/systemd/issues/3053
- https://github.com/systemd/systemd/pull/3157

xref https://github.com/kubernetes/kubernetes/pull/24602

/cc @lucab @jfrazelle

[2016-05-31 18:54] lucab commented on #529
I drafted up an initial proposal for seccomp support in #620, feel free to comment there. It already allows for custom groups, under scoped namespaces.

[2016-06-02 08:31] lucab commented on #529
Moved to proposal stage, spec and code now at #621.

[2016-06-10 20:42] yifan-gu opened #623 "Make gid optional?"
Today for docker images, if the gid is missing, docker will read /etc/passwd to determine the gid.

See:
https://github.com/docker/docker/blob/266c40087cbdd80b93e435284264db5f881a03e1/daemon/oci_linux.go#L143
https://github.com/docker/docker/blob/266c40087cbdd80b93e435284264db5f881a03e1/daemon/oci_linux.go#L161
https://github.com/docker/docker/blob/4a7bd7eaef0038b006cf23adface84081e5aab3b/vendor/s

[2016-06-10 21:40] philips commented on #623
What should we default it to if optional? @yifan-gu

[2016-06-10 21:42] philips commented on #623
Maybe have docker2aci do the reading of the /etc/passwd instead in this case?

[2016-06-10 21:42] philips commented on #623
@dgonyeo thoughts on having docker2aci reading the /etc/passwd?

[2016-06-10 21:55] euank commented on #623
I think the best option is one of the following:

1) docker2aci reads `/etc/passwd` and sets this during conversion and, if User is set and it can't find an entry, errors out (docker errors out at runtime in that case btw). gid does not need to be optional in that case.
2) gid is optional and rkt stage1 must figure out how to default it at runtime. The stage1 can decide to read `/etc/passwd` or to

[2016-06-10 22:13] yifan-gu commented on #623
@euank +1 on the first option. I filed an issue against docker2aci. We can close this if we all agree that's the better solution.

[2016-06-10 22:15] dgonyeo commented on #623
+1 on the first option.

[2016-06-11 00:58] yifan-gu commented on #623
Close in favor of https://github.com/appc/docker2aci/issues/175

[2016-06-11 00:58] #623 closed

[2016-06-11 04:05] btipling opened #624 "address-of operator removal seems to cause problems"
Try out the instructions here:

https://coreos.com/rkt/docs/latest/trying-out-rkt.html

[code]

I'm on OS X 10.11.5 with VirtualBox Version 5.0.20 r106931

Get this error when trying the above for rkt, seems to be in appc/spec:

[code]

This change here I think was the cause:

https://github.com/appc/spec/commit/7da0fdd4dfce6fda81869ac6ecd6ef42247957ea#diff-4667d44e5d7cf5f764587945de56685cL158

I

[2016-06-13 17:32] btipling commented on #624
I added an issue on rkt as well: https://github.com/coreos/rkt/issues/2789

[2016-06-15 11:53] lucab opened #625 "spec/ace: should clarify isolators stacking behavior"
[ACE spec](https://github.com/appc/spec/blob/master/spec/ace.md#isolators) defines multiple isolators without clarifying their stacking behavior. In particular, it seems that the following details are currently under-specified:
 * Precedence: some isolators can be defined in both pod and app scope. Overriding behavior and precedence should be specified.
 * Stacking: a single isolator type can be s

[2016-06-16 17:16] blalor opened #627 "[question] clarification of image id in PodManifest"
I want to work on extending Nomad's support for rkt, and would like to pave the way for other ACEs.  Most of rkt's command-line arguments can be replaced by a PodManifest document.  My thought is that instead of having Nomad build up a string of arguments to be passed to the rkt binary, it could instead generate a PodManifest and use rkt's `--pod-manifest` argument instead.  The thing I'm struggli

[2016-06-16 21:47] dgonyeo opened #628 "allow ports to be included in an image name"
An issue (https://github.com/appc/acpush/issues/6) was recently filed against acpush where the user wished to set the image name to refer to a non-default port on a host (e.g. `aci-serv:3000/tester`). Right now the `:` character is not allowed in image names, and allowing it would make version parsing a little more complicated. Is this something that should be fixed?

[2016-06-17 12:36] jonboulle commented on #628
This would couple name to transport which is pretty much directly against the intentions of the spec. Why can't we use a flag for ports?

[2016-06-17 12:37] jonboulle commented on #628
Danced around in https://github.com/appc/spec/pull/110

[2016-06-17 14:01] jonboulle commented on #627
We do something similar in rktnetes.. @yifan-gu @euank can you help with
this one?

On 16 June 2016 at 19:16, Brian Lalor <notifications@github.com> wrote:

[2016-06-17 18:27] dgonyeo commented on #628
Yup, looks like that would solve this. I can add a port flag to acpush once that gets merged.

Although on the subject of coupling name to transport, I thought rkt already complained if the image name didn't match where it pulled the image from? As in, if I `rkt fetch coreos.com/etcd` and the image manifest it gets back has the name `quay.io/coreos/etcd`, that rkt would error out?

[2016-06-17 23:44] euank commented on #627
What we do in rktnetes is basically a combination of `rkt fetch` and `rkt list` to get the image referenced, and we create the pod-manifest only once we have the image id.

The [pod spec](https://github.com/appc/spec/blob/master/spec/pods.md#app-container-pods-pods) makes a suggestion for exactly this problem; it mentions that you could use an incomplete manifest as a deployment template where ima

[2016-06-18 11:18] blalor commented on #627
Thank you, @euank and @jonboulle!

Is it intended that this be a feature of the executor, or part of a tool that runs outside of it?

I see a use for a reified `PodManifest` as a tool for precisely reproducing a Pod, but I think a `PodManifestTemplate` would be extremely valuable to users and third-party tools responsible for deploying pods.  Yes, the difference would be the presence of the image

[2016-06-18 19:25] yifan-gu commented on #627
It's a matter of whether we want to do image fetching with a pod manifest. At this point, I don't see strong reason why not.
Ref https://github.com/coreos/rkt/pull/1326

[2016-06-19 02:16] blalor commented on #627
I'd love to see this implemented in rkt, but it'd be impossible to validate such a `PodManifest` with the current spec.

[2016-06-20 11:42] jonboulle commented on #628
That's not coupling to a particular transport mechanism per se - rather, it's ensuring the way the image is referenced matches what the contents are.  I admit that this is a little blurry and something abd was trying to make much more specific.

[2016-06-21 12:40] #628 closed

[2016-06-22 13:39] #529 closed

[2016-07-06 22:30] steveeJ opened #636 "0.8.6 release needed"
Here's my suggestion for the release notes to make this easy for the maintainer that decides to tag the release.

[code]

[2016-07-07 13:06] #636 closed

[2016-07-07 14:04] jonboulle commented on #624
this should be resolved now

[2016-07-07 14:04] #624 closed

[2016-07-15 18:16] tgeoghegan opened #640 "pods.md incorrectly defines annotation name as AC Name instead of AC Identifier"
In [pods.md](https://github.com/appc/spec/blob/master/spec/pods.md) @ 01b1a0221620c2f394c0684686dcf111c484873e, the entry for annotations reads:

This disagrees with [aci.md](https://github.com/appc/spec/blob/master/spec/aci.md) which states:

It further disagrees with the [Annotation struct](https://github.com/appc/spec/blob/master/schema/types/annotations.go) which has:

``type Annotation struct

[2016-07-19 23:38] lucab opened #641 "os-spec/linux: additional device nodes"
Restarting the previous discussion at https://github.com/appc/spec/issues/127, it looks like we may need new entries in the set of provided `/dev` paths.

In particular, it may be useful to have the runtime provide the following paths:
 * /dev/fd/
 * /dev/stdin
 * /dev/stdout
 * /dev/stderr

Rationale for this is:
 1. OCI [makes those mandatory](https://github.com/opencontainers/runtime-spec/blob/

[2016-07-27 01:42] schancel commented on #373
I think we closed this one up with my PR?

[2016-07-27 01:42] #373 closed

[2016-07-28 11:09] alban commented on #641
But simple bash scripts like `echo foo > /dev/fd/1` will not work in rkt because rkt uses journald (unless rkt is run with `--interactive`) and `/dev/self/fd/...` are connected to the journald unix socket.

So I am trying to discourage opening `/dev/fd/*` directly:
https://github.com/kubernetes/kubernetes/pull/23381/files
https://github.com/coreos/rkt/issues/2300#issuecomment-199877706

[2016-07-31 20:48] meganuke19 opened #643 "[question] s3 storage backend"
Hello.
Interesting, how i can use s3 storage backend in my container?

[2016-08-01 17:41] euank commented on #643
S3 buckets, always have a region-dependent url they can be accessed at (e.g. us standard ones can be accessed at https://s3.amazonaws.com/{bucket-name}/). Because of that, you can create an ACI with a name similar to that, host a html page indicating the url to pubkeys and so on, and it should work just like it would on any regular http server.

For example, I've hosted a docker2aci copy of redis

[2016-08-02 07:20] meganuke19 commented on #643
Sorry, maybe i incorrect writed. I do not want repository storage for APPC. I want S3 as volume in App Container. It is really? Where i can write about this detailed?

[2016-08-02 17:08] dgonyeo commented on #643
If I understand your question correctly you want to use an S3 bucket as a volume to attach to a mount point in a running AppC container.

I think there isn't explicit support for this, but you should be able to locally mount an s3 bucket via s3fs and then use the `--volume` flag on rkt to point a volume at the location s3fs is mounted.

So something vaguely like:

[code]

Disclaimer: I've never do

[2016-08-02 17:19] meganuke19 commented on #643
Yes correctly. Hm.. Maybe possible add the functional into pod file?

[2016-08-02 17:47] dgonyeo commented on #643
What types of volumes are supported isn't defined in the spec. I think what you're asking for is support for an s3 kind in rkt's volume flag, so one could do something like:

[code]

If that's the case you should open an issue against https://github.com/coreos/rkt so we can keep track of this request.

[2016-08-02 20:13] euank commented on #643
Yeah; it's up to an ACE or orchestration system (like K8s volume plugins) to manage such a volume kind.

However, using S3 as a volume (implied, as a posix filesystem) is fraught with peril. There's no official way to make such a mount and S3 does not offer "read-after-write" consistency for update operations, nor any common way to represent various other posix features (e.g. some people make a bl

[2016-08-03 13:00] jonboulle commented on #641
should we nevertheless add the others..?

[2016-08-04 13:29] jonboulle commented on #627
hmm, is this not clear with the current wording?

[code]

When I first added this functionality I did actually have a separate `PodManifestTemplate` type, but if memory serves we came to the conclusion it was a bit redundant with the current situation, where the pod manifest can essentially play both roles.

[2016-08-04 14:41] jonboulle commented on #643
Closing this out based on the comments - not something we'll pursue in the spec.

[2016-08-04 14:41] #643 closed

[2016-08-11 16:30] lucab opened #645 "ace: add sysctl isolator"
Applications running inside pods may need to tweak several namespaced sysctl parameters. There is a need for executor to support this (https://github.com/coreos/rkt/issues/2694), and OCI Linux runtime manifest already features a sysctl stanza (https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#sysctl).

In short, ACE should provide an `os/linux/sysctl` isolator.

[2016-08-11 17:05] jonboulle commented on #645
At what level would you expect this to work? (app vs pod vs both)

[2016-08-12 10:43] lucab commented on #645
This conceptually would be "pod, only". Current [k8s proposal](https://github.com/kubernetes/kubernetes/pull/27180) also goes into that direction.

However, it is my understanding that OCI runtime spec [defines](https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#sysctl) this per-app. I'm not sure how k8s will address this when integrating CRI + sysctl + OCI (some discussion

[2016-08-15 12:18] jonboulle commented on #645
On 12 August 2016 at 12:43, Luca Bruno <notifications@github.com> wrote:

per-app sysctl settings in the absence of "sysctl namespaces". The only
benefit see in allowing such granularity is if we anticipate that such
support would be added to the kernel and/or OCI, but that's probably a long
way out. I think OCI just supports it at the per-app level because that's
the minimum and maximum execution

[2016-08-18 22:14] yifan-gu opened #648 "Add the ability to create empty dir when the host path doesn't exist in the volume when `kind=host`"
Ref https://github.com/kubernetes/kubernetes/issues/26816

Docker has the ability to create empty dir for if the hostpath in the volume doesn't exist on the host (`kind=host`), and some kubernetes e2e tests / examples reply on this functionality, so it would be preferable if rkt provides such ability as an option.

One way to achieve this is to add an optional boolean in the volume type saying "Cr

[2016-08-19 12:13] lucab commented on #648
Is this the same as https://github.com/coreos/rkt/issues/2329#issuecomment-231699592? In that case, it may be a rkt bug, not a spec one. Something that was not clear to me from there: how should this interact with RO containers?

[2016-08-19 12:38] jonboulle commented on #648
This seems like an antipattern to me, so I'd rather push back on it in kubernetes. But even if we decide to do it, I think it should be rkt specific, not a general spec thing.

[2016-08-19 18:13] yifan-gu commented on #648
@jonboulle I agree, at first I am not comfortable about creating arbitrary dirs on host. If we all agree we don't want this, we can just implement in rktnetes.

[2016-08-19 20:39] sgotti commented on #648
I'm also for delegating the host path creation (in any way like directory creation or a tmpfs like rkt does when a volume for a mountpoint isn't specified) to who is specifying the volume definition (the orchestrator, the user calling rkt etc...).

[2016-08-19 21:46] euank commented on #648
The only possible use for a kind=host is an antipattern. It expresses an external system dependency that means a less portable, less self-contained, container. I think once you're already speaking in terms of an antipattern, adding more antipattern knobs is less egregious.

That being said, there are multiple reasons a host volume might be used, which I've tried to list below.

1. Communicating wi

[2016-08-22 13:51] #648 closed

[2016-08-22 14:35] lucab opened #650 "spec/ace: add two new isolators for masking path"
This is a request for two new isolators, useful for making paths unreachable or read-only.
This follows concepts already present in [OCI config](https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md#masked-paths) and in [rkt contaiment](https://github.com/coreos/rkt/pull/2683).

* Inaccessible paths
  * scope: per-app
  * name: environment/masked-paths
  * value: array of inac

[2016-08-22 14:36] lucab commented on #650
Reference https://github.com/coreos/rkt/issues/2996.

/cc @euank

[2016-08-22 18:24] euank commented on #648
@jonboulle wanna add a few more details to that close? Did this issue end up getting moved somewhere else, or do we have sufficient consensus of "orchestration systems should do this, not rkt"?

[2016-08-23 08:56] jonboulle commented on #650
At first blush this sounds awkward because it seems like something that should really be handled in the filesystem layer; but I accept that doesn't facilitate all these use cases. This seems okay to me, though would be nice to get another opinion.

[2016-08-23 08:56] jonboulle commented on #650
@vbatts thoughts?

[2016-08-23 10:06] jonboulle commented on #648
I surmised that we had consensus that this is better handled by the orchestration system or rkt (not the spec), but if I'm off the mark let me know.

[2016-08-23 15:36] vbatts commented on #650
i like the concepts. IIRC, i was in favor of a blacklist path approach in addition to `pathWhitelist` and ACE currently has. But whether masking the files instead of removing them? I'm not sure which would be better.

Regardless, for both of these features, I'd be interested to see how the wording will be enforced for implementations. Because if a path is masked or made read-only, presumably by a

[2016-08-23 17:46] euank commented on #648
I'm fine with that assertion. Thanks for clarifying... I'll open an issue against Kubernetes as to whether it should specify something like this to its volume concept.

[2016-08-29 10:02] #645 closed

[2016-08-30 20:21] iaguis commented on #650
AFAIK the files we want to blacklist here are files that won't be present in the image (`/proc/something` or `/sys/fs/something`) so I don't think it should be related to `pathWhitelist` or an eventual `pathBlacklist`.

systemd implementation for reference: https://github.com/systemd/systemd/pull/3685

[2016-09-01 00:28] gregorskii commented on #223
+1 I would like to see this, but not necessarily tied to Ansible. The builder should be able to pick any provisoner, such as shell/chef etc.

Thanks!

[2016-09-14 08:04] HuKeping opened #654 "Why not use the"
Hi there,

As the spec says , the [image layout of ACI](https://github.com/appc/spec/blob/master/spec/aci.md#image-layout) is straightforward, but why we don't use the [multi-layer-style](https://github.com/opencontainers/image-spec/blob/master/layer.md) as the OCI image(or just docker image for now)  defines?

Personally I much prefer the former one, but wonder if there's some special considerati

[2016-09-14 11:51] jonboulle commented on #654
appc images support effectively the same thing (although it's a DAG rather than a simple chain) via dependencies - the process for assembling the filesystem is described here: https://github.com/appc/spec/blob/master/spec/ace.md#filesystem-setup

[2016-10-13 16:21] s-urbaniak opened #664 "Merge cri branch into master"
@squeed @jonboulle @lucab Having https://github.com/appc/spec/pull/663 landed, do we feel confident enough to merge the appc/spec `cri` branch into appc/spec `master`?

That would allow us to have only one `cri` working branch in rkt.

[2016-10-13 17:35] lucab opened #665 "Please provide go<->appc arch label translators"
appc/spec defines its own set of [arch labels](https://github.com/appc/spec/blob/v0.8.7/schema/types/labels.go#L23:L27) which don't always align with architecture labels used by other frameworks, including Golang ones (which also encompass an [GOARCH/GOARM tuple for arm](https://github.com/golang/go/wiki/GoArm)).

This has caused some pain in the past for projects using appc, eg:
 * https://github

[2016-10-21 13:27] s-urbaniak commented on #609
The fetching logic not respecting `HTTP_PROXY` is not in appc, but in rkt itself. The bug is being addressed in https://github.com/coreos/rkt/pull/3303.

For completeness it is worth mentioning that recently appc was patched for `go vet` compliance explicitely setting `http.ProxyFromEnvironment` in the secure, and insecure clients in [1], and [2].

So I am inclined to close this issue, once the ab

[2016-10-21 20:59] #609 closed

[2016-10-25 13:26] #665 closed

[2016-10-26 16:02] euank commented on #664
Done in #667, this can be closed

[2016-10-26 16:06] #664 closed

[2016-12-31 00:01] #572 closed

[2017-01-04 08:11] MikaelCluseau opened #680 "spec/discovery.md: URL substitution example is wrong"
spec/discovery.md says
[code]
and
[code]
Since name=example.com/reduce-worker, the example result should be
[code]
instead of
[code]
This is at least what rkt does in my tests.

[2017-01-04 09:59] jonboulle commented on #680
Good catch! I thought this had been noted a while ago but can't seem to find a reference. Would you mind putting up a PR to fix it?

[2017-01-04 10:14] MikaelCluseau commented on #680
looked weird to me too but, well, just happens :) I'll PR in a few minutes.

[2017-01-04 10:19] MikaelCluseau commented on #680
Here you are.

[2017-01-04 11:51] #680 closed

[2017-01-19 13:44] pires commented on #198
What about defining write/read rate limits in both IOPS and (K/M)Bytes/s?

[2017-01-25 12:58] sttts opened #683 "k8s.io/kubernetes/pkg/api/resource is going to move, cyclic dependency"
.... to `k8s.io/apimachinery/pkg/api/resource`. But as Kubernetes vendors `appc/spec`, we have a cyclic dependency problem:

- We have to update `appc/spec` in order to do the move (otherwise Kubernetes will not compile).
- But for `appc/spec` to update, we need it in `k8s.io/apimachinery`.

A solution might be to make a copy of the `Quantity` type here, cutting off the dependency.

[2017-01-25 12:58] sttts commented on #683
/cc @s-urbaniak

[2017-01-25 13:41] lucab commented on #683
Yes, I agree on cutting off the dependency. This is giving us issues in other places down the chain due to overly broad un-pinned dependencies, like in https://github.com/appc/docker2aci/pull/238.

[2017-01-25 13:44] s-urbaniak commented on #683
I am fine with cutting the dependency. I made a quick scan over rkt and it seems we don't reference this type directly in rkt, so there should be no change necessary there.

[2017-01-25 13:49] lucab commented on #683
I think we consume it for isolators-related logic in docker2aci (still), and for rkt we used consume more things re-exported more here. https://github.com/appc/spec/pull/672 has some history and references.

@sttts @dgonyeo who wants to cut it?

[2017-01-25 15:04] sttts commented on #683
@lucab just go ahead cutting it. For the moment I leave pkg/api/resource in the kube repo as a temporary copy such that you have time to cut the link. Would be great if you can manage to do that in a few-days timeframe.

[2017-01-25 15:25] jonboulle commented on #683
@sttts do you have time to put up a PR?

Dr. Stefan Schimanski <notifications@github.com> schrieb am Mi., 25. Jan.
2017, 16:04:

[2017-01-25 15:34] sttts commented on #683
@jonboulle I can create a minimal PR switching to apimachinery once that merged in kube.

If you want to get rid of the dependency completely, some duplication of the kube code is necessary. As the type `Quantity` (that is used here) has some more deps to kubernetes, you have to see what you really need for your context.

[2017-01-26 17:59] #683 closed

[2017-02-20 14:42] kim opened #686 "actool: patch-manifest only appends ports"
It seems that any `--ports` arguments to `actool patch-manifest` are merely appended to the `ports` array in the manifest, instead of overwriting it. Is this intended? If so, what's the rationale?

I'd be happy to provide a patch that changes the semantics, or a separate flag that would allow for overwriting if that's preferred.

[2017-07-16 12:12] ae6rt opened #690 "Loosen constraints on what constitutes valid characters in an environment variable name"
The IEEE spec says characters comprising an environment variable must consist of letters, digits, and the underscore:  http://pubs.opengroup.org/onlinepubs/9699919799/.

https://github.com/rkt/rkt/issues/3532 and https://github.com/appc/docker2aci/issues/244 suggests this be loosened.

[2017-07-16 15:29] thockin commented on #690
POSIX seems to not disallow chars like '=', which is mind boggling, but
apparently some people do (bug report against kubernetes).

On Jul 16, 2017 5:13 AM, "Mark Petrovic" <notifications@github.com> wrote:

[2017-10-05 07:46] Toasterson opened #694 "Problem Writing Non-Ascii Files to Aci Writer"
Hello

Recently I tried to use the ACI image spec for my work with Illumos Zones. However I stumbled upon a quite nasty behaviour. Everytime I created an Archive it only the wrote part of the Image and aborted. Always when writing the same file '/etc/certs/CA/Certinomis_-_Autorité_Racine.pem'. (On Linux the File is named Certinomis_-_Autorit___Racine.pem) As suspected this behaviour is the same wi

[2020-02-22 22:37] dghubble commented on #570
Closing this as stale / no longer relevant.

[2020-02-22 22:37] #570 closed